[2019-06-28 12:59] dzungpv opened #1 "Moderate severity vulnerability"
Detail here https://www.npmjs.com/advisories/596

[2019-07-01 13:55] Koenkk commented on #1
This seems to be in dissolve (dependency), I will get rid of this dependencies once I refactor this part.

[2019-07-07 18:15] felixstorm opened #4 "[Question] Strategy for manufacturer-specific attributes in standard clusters?"
As already mentioned in my last pull request, I am implementing support for some [ubisys](https://www.ubisys.de/en/products/) devices at the moment. To e.g. calibrate their shutter controller to the run-time from fully open to fully closed, they use quite a lot of manufacturer-specific attributes within standard clusters (e.g. attributes 0x1000 and up in `closuresWindowCovering`).
Currently, I hav

[2019-07-07 18:20] felixstorm opened #5 "[Question] Strategy for duplicate manufacturer-specific cluster ids?"
In addition to my last [question](https://github.com/Koenkk/zigbee-herdsman/issues/4), I just noticed that the manufacturer specific cluster that ubisys uses to configure their inputs (0xfc00 = 64512) has already been defined as `manuSpecificPhilips` [here](https://github.com/Koenkk/zigbee-herdsman/blob/9437a0179633108592e4110ce8833520b725e765/src/zcl-id/definitions/common.json#L198).

Again the q

[2019-07-08 06:21] Koenkk commented on #4
Also the answer to #5, I would just add them zcl-id/zcl-packet and prefix it with ubysis.

The aim of zigbee-herdsman is more on "real world usability" instead of the "perfectly follows ZCL specification" part.

[2019-07-08 08:57] kirovilya opened #6 "Support NodeJS 6"
For use in the iobroker project, I would like to support nodejs starting from 6.
Therefore, I propose to rewrite the async-functions.

[2019-07-08 09:02] Koenkk commented on #6
I understand however nodejs 6 is not maintained anymore, I would suggest to update to nodejs 10 (as support for nodejs 8 will also drop in the begin of next year).

https://github.com/nodejs/Release

[2019-07-08 09:56] kirovilya commented on #6
This is the recommended version, but there are already many installations for version 6. :(
ok. thank

[2019-07-08 09:56] #6 closed

[2019-07-09 08:34] felixstorm commented on #4
Ok, I'll check that - but are you sure that adding a new cluster with the same numeric id as an existing one (see #5 ) is a good idea? I would be a bit worried when it comes to reverse lookup on incoming Zigbee packages...

[2019-07-09 08:41] Koenkk commented on #4
In this case, the cluster should be renamed, e.g. `manuSpecificPhilipsUbisys`, as id's cannot be duplicated.

[2019-07-09 08:48] felixstorm commented on #4
Ok, but then we will be in trouble again as soon as we hit duplicate attribute ids (ubisys uses e.g. 0 and 1).

I would rather go for clearer definitions, and I only need the additional clusters and attributes for configuring the devices inside the ubisys extension where I anyway have my own read and write attribute functions. Would it therefore be ok for you if I define them as suggested above wi

[2019-07-09 09:38] Koenkk commented on #4
My biggest struggle with https://github.com/felixstorm/zigbee2mqtt/blob/f41f754135f918a9b60ad14501311e48f5ae1114/lib/extension/ubisys.js#L166 is that it is a lot of code (= extra maintenance) while adding very less feature wise (only for ubysis users, which you are the only reported one now).

[2019-07-09 09:45] Koenkk commented on #4
As I'm currently completely refactoring zigbee-herdsman anyway, I'm thinking it maybe nice to have 'conditional' manuf specific clusters, e.g. only when the manufcode matches. This would solve your problem and keep all parsing inside zigbee-herdsman.

[2019-07-09 10:40] felixstorm commented on #4
Great, sounds very good to me! If you find a way to also take care of manufacturer-specific properties inside standard clusters that would sure be helpful as well (so we won't get in trouble in case of duplicate attribute ids either).

I'll then go ahead with my personal implementation for now and will update it to the new spec as soon as it is available.

Thanks,
Felix

[2019-07-10 08:10] felixstorm commented on #5
Closing, see #4

[2019-07-10 08:10] #5 closed

[2019-07-10 08:31] felixstorm commented on #4
Ok, I have done some more work and implemented everything inside the ubisys extension: https://github.com/felixstorm/zigbee2mqtt/blob/master/lib/extension/ubisys.js

My JavaScript knowledge really is a bit rusty and I need to get used to promises, but I like it really a lot better than Python (used to play around with https://github.com/zigpy/zigpy also) :wink:

If you have any comments or suggest

[2019-07-10 16:38] Koenkk commented on #4
@felixstorm great! Maybe I misunderstood but as mentioned in https://github.com/Koenkk/zigbee-herdsman/issues/4#issuecomment-509570632 I cannot merge this extensions.

- Either wait for https://github.com/Koenkk/zigbee-herdsman/issues/4#issuecomment-509573007
 - Or as a temp workaround: https://github.com/Koenkk/zigbee-herdsman/issues/4#issuecomment-509549457

[2019-07-10 17:05] felixstorm commented on #4
Sorry - this really seems to be a misunderstanding. I thought it would be helpful to keep everything self-contained inside `ubisys.js`? From my side, there is currently no need anymore to have the ubisys manufacturer specific clusters or attributes inside zigbee-herdsman since they are only needed to configure the devices and this is now all inside `ubisys.js`.
Or do you think that ubisys.js in ge

[2019-07-10 17:20] Koenkk commented on #4
All configuration code can be put here: https://github.com/Koenkk/zigbee-shepherd-converters/blob/master/devices.js#L571

[2019-07-10 17:30] felixstorm commented on #4
Maybe that was not clear, but the whole stuff inside `ubisys.js` is for one-time-configuration.
An example: the shutter controller needs to know how many seconds the blinds take to go from fully open to fully closed and also for the other way around (which sometimes differs a bit) in order to be able to go to a specific position, e.g. to close the blinds 80 percent. Therefore there is a one-time c

[2019-07-11 12:35] Koenkk commented on #4
@felixstorm the two examples you mention can be done perfectly fine in the `toZigbee` converters, this seems similar to me as e.g. setting a sensor sensitivity (https://github.com/Koenkk/zigbee-shepherd-converters/blob/master/converters/toZigbee.js#L903). Note that you can also very easily address non-standard clusters there (just put the hex number as show in the link).

[2019-07-12 11:05] felixstorm commented on #4
@Koenkk that was exactly the route I had taken in the first place, but then did not find a way to insert the necessary delays to wait for a complete run up or down (60-90 seconds) during shutter calibration. Therefore I had then switched to implementing an extension instead.

Anyhow I am fine for the ubisys extension to not be merged into the mainline currently if there apparently is no demand for

[2019-07-12 11:33] Koenkk commented on #4
@felixstorm could you provide me a bit more context on how such a calibration is done? We can look into the possibilities of adapting zigbee-shepherd-converters.

[2019-07-12 16:23] felixstorm commented on #4
@Koenkk basic calibration sequence is as follows:
* send command "open"
* wait 60 seconds (or better: regularly read (or monitor (previously configured) reporting) attribute to get notified when the motor stops at the top)
* write some (manufacturer specific) attributes
* send command "down"
* wait 5 seconds
* send command "up"
* again wait 10 secs or until motor has stopped at the top again
* sen

[2019-07-15 18:17] Koenkk commented on #4
Option 2 sounds great, I think we can also do it without the zigbee object by passing the result of the previous action?

[2019-07-24 08:12] msadeghz opened #11 "the coordinator doesn't respond to "Match Description Request""
Hi @Koenkk ,
I have a new zigbee device. it sends Match Description Request to the coordinator during join procedure. but the coordinator doesn't respond to it.
I use the latest version of CC2531 firmware and zigbee2mqtt. you can see the issue in below image:
![image](https://user-images.githubusercontent.com/22853649/61776491-61800380-ae10-11e9-8146-9532b7c69753.png)
the normal condition should b

[2019-07-25 06:48] msadeghz commented on #11
do you mead I use zigbee-herdsman instead of zigbee-shephered?
the Match Description Request is sent for cluster-id 6
![image](https://user-images.githubusercontent.com/22853649/61851644-c7ca5c00-aecc-11e9-8dd6-de6e1fb18830.png)

[2019-07-25 07:22] Koenkk commented on #11
If you are on zigbee2mqtt 1.5.1 you are using zigbee-herdman (fork of zigbee-shepherd which im currently refactoring).

If you want to solve it now you can try to do the required changes yourself, if not, I will look into it once refactor is completed.

[2019-07-25 07:39] msadeghz commented on #11
OK

[2019-08-01 10:45] felixstorm commented on #4
Sorry for the delay, just came back from vacation.

Option 2 without the zigbee object could probably work if the array returned from the converters is allowed to contain both objects to publish to zigbee as well as promises which would then all be processed sequentially so that we can write an attribute, wait, send a command, wait etc.

[2019-08-03 18:08] Koenkk opened #13 "Online/offline state not reliable"
e.g:
- https://github.com/Koenkk/zigbee2mqtt/issues/1801#issuecomment-517943708
- https://github.com/Koenkk/zigbee2mqtt/issues/1811

[2019-08-04 06:40] msadeghz commented on #11
Hi again
![image](https://user-images.githubusercontent.com/22853649/62420482-2f8c5e00-b6a8-11e9-87bb-d093afa2ed1a.png)

the "match descriptor request" is like above. (infact the device wants to check the coordinator supports profile, input cluster and output clusters or not)
where can I handle the request? in the zigbee-shepherd? when I run `DEBUG=* npm start`, I can't see any thing when the node

[2019-08-06 05:25] podarok opened #14 "node-red bindings?"
Hi
Is there any documentation about API used?
I'd like to integrate this into node-red
Would be cool to have zigbee2mgtt nodes there.

[2019-08-06 08:38] Koenkk commented on #14
Would you like to integrate zigbee2mqtt or zigbee-herdsman?

Note that I'm currently refactoring zigbee-herdsman so the API is not stable.

[2019-08-07 03:04] the729 opened #16 "Where is network states retained?"
Hi,

I'm fairly new to Zigbee and ZNP. I wonder where is network states retained in a system of zigbee-shephard/herdsman + ZNP module?

I know zigbee shephard has some states saved in a local json file. Is that all? Is it possible to transparently replace the ZNP module with a new one, while still able to maintain the network?

[2019-08-07 06:10] Koenkk commented on #16
I know zigbee shephard has some states saved in a local json file. Is that all?
=> yes

Is it possible to transparently replace the ZNP module with a new one, while still able to maintain the network?
=> https://www.zigbee2mqtt.io/information/what_does_and_doesnt_require_repairing.html

Note that the issue tracker is meant for tracking bugs, for questions please use http://zigbee2mqtt.discourse.gr

[2019-08-07 06:10] #16 closed

[2019-08-08 05:36] msadeghz commented on #11
the issue is resolved.
I create an application in the coordinator (like ciepp) which have "ssIasZone" in server and client side and then my coordinator responds the "Match Descriptor Request" finely.

[2019-08-08 05:36] #11 closed

[2019-08-13 07:02] msadeghz opened #17 "the Coordinator doesn't send "Transport Key" message"
Hi friends,
I have an standard HA light switch. when it wants to join, after association response, the coordinator doesn't transport security key, so the join procedure isn't continued. I try in multiple times, in one time it works and the device joined. but now it doesn't join again.
you can see the zigbee log below:
[3-gangs switch log.zip](https://github.com/Koenkk/zigbee2mqtt/files/3495667/3-g

[2019-08-13 20:20] Koenkk commented on #1
Fixed in the controller branch https://github.com/Koenkk/zigbee-herdsman/tree/controller

[2019-08-13 20:20] #1 closed

[2019-08-16 03:00] thincamel commented on #17
I have the same problem.
ZC CC2530 + fireware 0608
ZE CC2530
[ZC donot send transport key.pcapng.zip](https://github.com/Koenkk/zigbee-herdsman/files/3507911/ZC.donot.send.transport.key.pcapng.zip)

[2019-08-22 14:24] Koenkk commented on #17
I doubt if this problem can be solved from the zigbee-herdsman side, isn't this a firmware problem? Perhaps you could try to ask on the Texas Instruments forum?

[2019-08-25 06:09] onnlucky opened #18 "expose zigbee timestamp"
It would be nice to expose the zigbee timestamp, which gives any higher up layer the best way to process timing sensitive messages like dimmer `move` commands. See also: https://github.com/Koenkk/zigbee-herdsman/blob/master/src/adapter/z-stack/znp/definition.ts#L1146

[2019-08-25 06:19] onnlucky opened #19 "Remove database as cause for async"
At the moment, calls like `getDevice` are async, because it might query the database. Often it doesn't as it uses `Device.lookup`. But herdsman could operate with the in-memory data structures as the source of truth, only synced to disk in a best-effort manner.

That would make the path between receiving message from a device to sending a message in response to another device a single tick of the

[2019-08-26 12:32] untitledlt opened #20 "Any example how to use it?"
Minimal example to scan/bind/read would be great.
Thanks!

[2019-08-26 16:39] Koenkk commented on #20
Currently not, see todo in: https://github.com/Koenkk/zigbee-herdsman

[2019-08-26 16:39] #20 closed

[2019-09-03 07:38] mabels opened #22 "Friends of Hue Smart Switch"
Hi,

i have these:

https://new.abb.com/low-voltage/products/residential-product/remote-control/friends-of-hue-smart-switch

and it seams not supported in zigbee2mqtt, that i will try in the next step.

I started to figure out how it works.
First I found it is not able to pair at all.
Than I made a PacketSniffing on zigbee, and found out that the device sends Broadcast if it is pressed and release

[2019-09-03 08:42] Koenkk commented on #22
These are green power devices which are currently not supported by zigbee-herdsman, note that if you want to experiment with this, you need z-stack 3 (z-stack 1.2 doesn't support green power).

I've also done some investigations into green power but didn't manage to configure it correctly yet.

[2019-09-03 13:27] mabels commented on #22
Many thx for comeback so fast.
I saw your tries. I will continue after i tried to build z-stack 3 from source, and read abit in the sources to get a better understanding how this zigbee api works. For me most of the terms are new and that has to change first.

[2019-09-03 20:55] mabels commented on #22
Hi i set the pan_id to 0xffff and got this, if i press the button:

[code]

[2019-09-05 09:24] mabels commented on #22
I testest yesterday a bit more. And the Z-Stack 3.0 CC2531 sadly stops working completly after around 4-5 Received messages from the Switch.
Do you have any idea why, or how to debug?

[2019-09-05 12:02] Koenkk commented on #22
I've also experienced this with my Hue Tap. I think that the device needs to be commissioned into the network, but it's unclear for me how to do this (that's where I got stuck).

[2019-09-06 12:47] hobbyquaker commented on #14
@podarok I'm working on https://github.com/hobbyquaker/node-red-contrib-zigbee and already use it in production since a few months. Maybe you wanna contribute :)

[2019-09-06 13:06] hobbyquaker opened #23 "zigbee-herdsman migration"
Hi Koenkk! First of all: Thanks for your awesome work!
I have questions about the herdsman:
* will you move functionality like handling reporting, configure, deviceAvailability (and other stuff that is currently implemented in zigbee2mqtt as extension) to zigbee-herdsman?
* I'm already using zigbee-herdsman@0.1.17 in node-red-contrib-zigbee, worked flawlessly as a drop-in replacement for the sheph

[2019-09-06 13:35] Koenkk commented on #23
Hey Sebastian!

- In the future some of this functionally might be moved (indeed sounds very vague -> don't expect this on a short term)
- I don't plan to create a migration guide (due to limited time/priorities), however I think the zigbee-herdsman api is quite straightforward, only things you should care about are:
  - public methods from https://github.com/Koenkk/zigbee-herdsman/blob/master/src

[2019-09-06 17:44] hobbyquaker commented on #23
Thanks for the answer and the API hints! Will try to move my project to 0.6 asap ;)

[2019-09-06 17:44] #23 closed

[2019-09-06 19:02] Koenkk commented on #23
Great, feel free to ask any questions here.

[2019-09-09 18:01] Koenkk commented on #4
@felixstorm zigbee-herdsman has now landed in the zigbee2mqtt dev branch, you should be able add the calibration to https://github.com/Koenkk/zigbee-shepherd-converters/blob/zigbee-herdsman-converters/converters/toZigbee.js.

Could you also make a PR with the manufacturer specific clusters? I will then modify this further.

[2019-09-10 10:10] felixstorm commented on #4
@Koenkk Cool, looks good, thanks!

I am a bit busy at the moment, so it might take a few days until I get to it, but I will let you know as soon as I have added the calibration.

[2019-09-14 13:29] tb-killa opened #25 "Failure to add Konke Device."
Hi @Koenkk

I see this if i want to add the Konke Motion Device because it doesnt seem to add correctly.

[code]

It seems to be that some Encoding Problem occures ?

[2019-09-14 18:58] Koenkk commented on #25
I dont see anything wrong here, the strange characters you see are because the bytes are decoded as utf8.

[2019-09-14 20:36] juantecnico opened #26 "Problem installing. RPi3 latest raspibian lite"
Hi. have follow aguide to install zigbee2mqtt and i try to install zigbee-herdsman
I had cloned the git and try to install with npm install inside zigbee-herdsman directoy but this error always appears.

`

pi@raspberrypi:/opt/zigbee-herdsman $ sudo npm install
npm WARN tarball tarball data for typescript@3.5.3 (sha512-ACzBtm/PhXBDId6a6sDJfroT2pOWt/oOnk4/dElG5G33ZL776N3Y6/6bKZJBFpd+b05F3Ct9qDjMeJm

[2019-09-16 15:46] felixstorm commented on #4
@Koenkk I did a first implementation:
https://github.com/felixstorm/zigbee-herdsman/commit/bd0a8e056a5a3b337e262f231a729ba9cdd2a81a
https://github.com/felixstorm/zigbee-shepherd-converters/commit/f30632743c8ea61fd0c1bb258087c3b3f61d59ce
Does this look ok for you or would you like me to make some changes (`console.log` is just in there as a placeholder, it's definitely not meant to go into producti

[2019-09-16 18:33] Koenkk commented on #4
1. Yes, just make this PR and I will continue with that.
2. OK with that
3. Can't we abstract this to a higher level? e.g. it might be useful to the user at which point it has been calibrated.

[2019-09-17 05:15] Kryzek opened #29 "Error messages during startup"
[code]
This is with latest zigbee2mqtt development version.

[2019-09-17 16:41] Koenkk commented on #29
Can you check if this has been fixed in the latest dev?

[2019-09-17 18:15] felixstorm commented on #4
1. Thanks!
2. Thanks again!
3. To be honest, I do not think that reading the configuration parameters is of much use besides troubleshooting or verifying that everything is configured correctly. It might be an idea to have some sort of repository similar to `state.json` were various (configuration) parameters from all devices can be saved for reference (potentially with a timestamp like `LastRead`

[2019-09-17 18:40] Koenkk commented on #4
3. I agree, just remove the `convertGet` for now.

[2019-09-17 18:47] felixstorm commented on #4
3. Couldn't we just leave `convertGet` in there and use a logger to output the results? Then there would be at least some possibility to read the attributes in order to verify that the calibration has generally succeeded for a specific device. I would have no problem streamlineing the logger output for readability a bit more than just raw JSON...

[2019-09-17 18:51] Koenkk commented on #4
Also ok with that!

[2019-09-17 18:53] felixstorm commented on #4
Ok, thanks - then I'll wait for the logger to become part of `meta` and then file a PR for the ubisys stuff, or would you like me to also file a PR for adding a logger to `meta`?

[2019-09-17 19:00] Koenkk commented on #4
@felixstorm you can also file a pr for that, it shouldn't be more than changing https://github.com/Koenkk/zigbee2mqtt/blob/dev/lib/extension/entityPublish.js#L137

[code]

to

[code]

[2019-09-18 05:42] Kryzek commented on #29
[code]

Not yet it seems.

[2019-09-18 06:19] Koenkk commented on #29
What nodejs version are you using?

[2019-09-18 09:24] tb-killa commented on #25
Hi @Koenkk

The Device doesnt seems to allow fully interview:

[code]

[2019-09-18 09:54] tb-killa commented on #25
Hi @Koenkk

it seems that the data doesnt transport correctly :(

[code]

This are my database.db entrys, sadly new ones added even after restarting the z2m instance.

[code]

[2019-09-18 15:10] Kryzek commented on #29
[code]

[2019-09-18 17:40] Koenkk commented on #29
Can you test with latest zigbee2mqtt-dev again? If it doesn't work please provide the log when running with `DEBUG=* npm start`.

[2019-09-19 05:04] Kryzek commented on #29
Error messages are now gone with latest zigbee2mqtt commit #e9a336f 👍

[2019-09-19 05:42] Koenkk commented on #29
Great!

[2019-09-19 05:42] #29 closed

[2019-09-19 18:47] #25 closed

[2019-09-20 17:11] guitar9 opened #32 "using cc2530 with UART and arduino"
I dont know how much work this is and I dont know if it would work, but I wanted to use cc2530 over UART connected to an esp8266 or arduino.
I dont know where to start. I flashed the z-stack firmware from Koenkk on the cc2530 and connected with UART to arduino. Somebody give me a starting point where to start?
Should I start with the development Board from Texas Instruments?

[2019-09-20 17:43] guitar9 opened #33 "how to start developing?"
How can I start developing on this project? When i enter npm start the project build the ts files. But how can I test the methods and endpoints?

[2019-09-21 18:34] tb-killa opened #35 "data doesnt sync from request to database.db file"
Hi @Koenkk
i´m see on different device types like Konke that the request themeselve isnt in sync with database entry.

this two entrys show what i´m mean by Konke Devices:

{"id":9,"type":"EndDevice","ieeeAddr":"0x00158d00024a48c6","nwkAddr":53008,"manufId":4151,"manufName":"LUMI",**"powerSource":"Battery"**,"modelId":"lumi.sensor_cube.aqgl01","epList":[1,2,3],"endpoints":{"1":{"epId":1,"inCluster

[2019-09-22 19:01] Koenkk commented on #35
Implemented, this will know be done for all properties. Thanks!

[2019-09-22 19:01] #35 closed

[2019-09-23 21:14] Koenkk commented on #19
Database is synchronous know (zigbee-herdsman 0.7.0)

[2019-09-23 21:14] #19 closed

[2019-09-26 08:47] SAGARP169 commented on #32
@guitar9 Did you get any way out of it

[2019-09-27 08:05] Koenkk commented on #4
Necessary changes are applied so I assume that this can be closed now.

[2019-09-27 08:05] #4 closed

[2019-09-27 08:06] Koenkk commented on #13
Removed online/offline state -> replaced with lastSeen.

[2019-09-27 08:06] #13 closed

[2019-09-27 15:51] hobbyquaker commented on #23
Hi @Koenkk
I managed it to adapt node-red-contrib-zigbee to zigbee-herdsman@0.7.0 and on my test system everything runs fine. I'm very excited about the herdsman, pairing works much better, until now everything works stable and consuming the api is much more pleasant than working with the shepherd :-) Thank you so much for your work!

Now i tried to upgrade my production system, but I was facing a

[2019-09-27 16:11] hobbyquaker commented on #23
ah, nevermind, got it working 🎉
Made a little mistake leading to another panID: https://github.com/hobbyquaker/node-red-contrib-zigbee/commit/85883110ecc6ac0e67e3e43db9cd30fd1a6d52f7 :-)

[2019-09-27 16:16] Koenkk commented on #23
Good to hear :smile:

[2019-09-27 16:24] hobbyquaker commented on #23
Another Question: I'm keeping track of binds in the device.meta to offer a nice ui for binding:
![image](https://user-images.githubusercontent.com/2503307/65785053-c7ac3e00-e153-11e9-85ed-bf37c00fda51.png)
What do you think about the suggestion to integrate that mechanism in the herdsman? Right now binds made by the configure extensions aren't tracked because it seemed to complicated to hook oh th

[2019-09-27 16:27] hobbyquaker commented on #23
And one more question: I also have a ui to select which devices should report:
![image](https://user-images.githubusercontent.com/2503307/65785238-3ab5b480-e154-11e9-91e3-2d2c9a06f480.png)
But I have no clue how to "un-report". Removing the bind isn't enough I guess, can I remove them by some special configuration on `endpoint.configureReporting(cluster, configuration)`?

[2019-09-27 18:29] guitar9 commented on #32
@SAGARP169  no. But I am interested to start developing. I dont know really where to start. Do you have a starting point?

[2019-09-27 21:14] Koenkk commented on #23
- Keeping track of the binds is a good idea; if you can prepare a pr we can continue from there:
  - Take a look at how the `members` in groups are implemented, I think this should be similar
- To un-report, provide `0xffff` as the maximum reporting value (see 2.5.7.1.6 of https://github.com/Koenkk/zigbee-herdsman/blob/master/docs/07-5123-06-zigbee-cluster-library-specification.pdf)

[2019-09-28 04:55] SAGARP169 commented on #32
I have almost reached, but cannot communicate the model with micro controller, the only thing i can do is send and receive data through the third party software, i cannot read/send this data through any com port (i.e arduino ide serial monitor).

![Screenshot](https://user-images.githubusercontent.com/55831640/65811662-8199bd80-e1d9-11e9-908d-894d0c4a6d63.PNG)

in the above image you can see how i

[2019-09-28 04:59] SAGARP169 commented on #32
I am very bad in programming, so can't even understand program properly, if you get any related info please share
Email:
Thank You!!

[2019-09-28 09:31] hobbyquaker opened #40 "bind tracking"
Hey Koenkk, I think a new Issue for discussions around the bind tracking makes sense :-)

Right now I'm doing the tracking in the device.meta, looks like this:
[code]

Should we move that to the Endpoint Object instead? What do you think of the scheme itself? Using a Set instead of an Array? I think a Set will not offer an advantage as it will not prevent adding to Objects with same content. So ri

[2019-09-28 15:10] john2exonets commented on #26
+1 .  Both typescript@3.5.3 and zigbee-herdsman@0.5.7 come up with corruption errors and won't install.

[2019-09-29 08:38] tb-killa opened #41 "specify entpoint for readrsp with herdsman"
Hi @Koenkk
i´m on the test for different of my devices who work with shepherd but doesnt work with herdsman.

The faulty Device from Bitron (AV2010/34) wont join because it use the readsp from endpoint 4 but should use them for basic interview from endpoint 1.

[code]

[2019-09-29 11:42] Koenkk commented on #40
This indeed should be moved to the endpoint, as you bind an endpoint not a device.

That code below looks good, however don't save this info in the `meta` but rather create a new property on `endpoint` called `binds`.

[2019-09-29 11:44] Koenkk commented on #41
During the interview, are both endpoint 1 and 4 present in https://github.com/Koenkk/zigbee-herdsman/blob/master/src/controller/model/device.ts#L391 (add a console.log there).

[2019-09-29 14:08] hobbyquaker commented on #40
A first try, could you pls review?
https://github.com/hobbyquaker/zigbee-herdsman/commit/1c4fee6295ee8df71b96f8d6ec746adb4946a628

[2019-09-29 16:11] Koenkk commented on #40
Looks good, can you make a PR? Then we will work further from there.

[2019-09-29 16:39] hobbyquaker commented on #40
will do asap.

[2019-10-02 21:48] #40 closed

[2019-10-03 10:36] felixstorm commented on #4
Thanks! Will open a PR for it now...

[2019-10-03 10:53] thehaxxa opened #51 "Philips Hue Dimmer Switch Not Working / Intermittent Issue"
This issue still persists in herdsman, whats the best way to go about debugging this: https://github.com/Koenkk/zigbee-shepherd-converters/issues/637

[2019-10-03 12:41] felixstorm opened #52 "Manufacturer-specific clusters not working without manufacturer code in ZCL frame header"
Sorry to bother you again about this, but unfortunately there seems to be a slight problem with the current implementation of manufacturer-specific clusters: As far as I can see from the code and from testing, they only get resolved from number to cluster object on incoming packets [if the manufacturer code is set in the ZCL frame header](https://github.com/Koenkk/zigbee-herdsman/blob/f7deaf0fdeee

[2019-10-03 15:48] Koenkk commented on #51
Did you try https://github.com/Koenkk/zigbee-shepherd-converters/issues/637#issuecomment-535517509?

I will close this; let's keep this discussion in one thread (https://github.com/Koenkk/zigbee-shepherd-converters/issues/637)

[2019-10-03 15:48] #51 closed

[2019-10-04 18:08] hobbyquaker opened #54 "Hard vs. Soft-Reset"
Hi!

A question for my understanding: what exactly does a hard reset do? A soft reset is (as far as I understood that right) so to say a restart of the Z-Stack Software, right?

I had sometimes the problem that device interviews on pairing failed - worked around that by stopping the herdsman, turning USB power off and on and then it always worked again. A soft-reset didn't help, could a hard reset

[2019-10-05 20:56] Koenkk commented on #54
- A soft reset is indeed a restart of the z-stack software
- AFAIK a hard reset will factory reset the device (remove all pairings); but I haven't used/dived into this tbh.

[2019-10-05 21:05] hobbyquaker commented on #54
thx for clarification

[2019-10-05 21:09] Koenkk commented on #54
However I think that the current implementation is not complete; it will reset z-stack but I think it is not usable anymore afterwards (probably requires restart of zigbee-herdsman). Also `database.db` should be cleared after this.

[2019-10-07 07:49] Kryzek opened #57 "Errors with latest Zigbee2MQTT"
I updated to latest development version of Zigbee2MQTT and I'm getting this kind of errors all the time now.
Seems to be something within Zigbee-Herdsman.
[code]

[2019-10-07 07:52] Kryzek commented on #57
Any of the paired devices is not responding or reacting to any command.

[2019-10-07 10:42] Kryzek commented on #57
And it seems I cannot get running Zigbee2mqtt with current or older version (tried rebooting my raspberry pi and problem persists).

Older revision:
[code]

and current version gives also same error:
[code]

[2019-10-07 11:04] Kryzek commented on #57
It seems my stick got flipped since I have these on my system log:
[code]

Need to check wheter it will be ok after I get to remove and re-insert usb-sniffer. (Not near device atm).

[2019-10-07 11:40] Kryzek commented on #57
I got Z2M started with older version but it dies immediately after starting.

[z2m-err.txt](https://github.com/Koenkk/zigbee-herdsman/files/3696968/z2m-err.txt)

Could these repeated messages could be the reason?
[code]

This device (0x00158d0001cded1c): 4713407 - Airam LED OP A60 ZB 9W/827 E27 (Router) is spamming network so much that network just chokes?

[2019-10-07 14:07] Kryzek commented on #57
My Airam bulbs went crazy after update and this caused this problem.

[2019-10-07 14:07] #57 closed

[2019-10-07 17:16] alfsolli opened #58 "Can we use Xbee S2C (and similar) radios with this?"
Digi's devices, like mentioned above, or is this a cc253x with custom firmware only?

I ask because I use them with node-red-contrib-xbee package and custom flows. They have great range, easy to work with (uart), and comes in a 63mW package, with possibility to use external antennas.

[2019-10-07 17:38] Koenkk commented on #58
Not yet but this can be done by implementing the following interface (https://github.com/Koenkk/zigbee-herdsman/blob/master/src/adapter/adapter.ts).

[2019-10-08 07:27] felixstorm commented on #52
@Koenkk - thanks for the feedback. I will check with the manufacturer and ask them, but I think the reason their approach might still be valid is that they are not extending a "standard device endpoint" but using an additional non-standard endpoint for their customer cluster.

I'll let you know the feedback from ubisys, but as said above there is still the workaround to use the numeric attribute i

[2019-10-09 08:38] lorek123 opened #60 "Support OTA upgrades"
It was mentioned here https://github.com/Koenkk/zigbee2mqtt/issues/1865#issuecomment-522321328 that this should be at some point implmented in herdsman.

More info:
https://github.com/Koenkk/zigbee2mqtt/issues/1696
https://github.com/zigpy/zigpy/pull/213

[2019-10-09 09:44] Matten-Matten opened #61 "please support Osram Device with modelID 'Plug Z3'"
https://github.com/hobbyquaker/node-red-contrib-zigbee/issues/42

[code]
fehlt in der

Gruß
Matten

[2019-10-09 09:58] Matten-Matten commented on #61
Moin, ich hab ein paar fragen bezüglich der Konfiguration und Bedienung.
Bei mir taucht folgender Fehler auf.
`configure failed 0xf0d1b80000125523 (LEDVANCE Plug 1) Cannot read property 'bind' of undefined`

was ist dieses 'bind' und was konfiguriere ich dort genau? Ich stehe da irgendwie aufm schlauch.
![Node-RED _ bind](https://user-images.githubusercontent.com/32074970/66471677-0adbaa80-ea8c-11

[2019-10-09 10:11] Koenkk commented on #61
Please make a pr for https://github.com/Koenkk/zigbee-shepherd-converters

[2019-10-09 10:11] #61 closed

[2019-10-09 13:59] carldebilly commented on #13
I'll remove this completely from Zigbee2MqttAssistant.

[2019-10-09 18:11] Koenkk commented on #60
Would be great if somebody could help with this!

[2019-10-09 21:03] sti0 opened #62 "Timeout error on HUE bulbs"
I'm running zigbee2mqtt edge addon on HASSIO right now. All my connected hue bulbs (really every single one) are raising this error every few minutes:

[code]

All bulbs are online and can be turned on and off, color changing ... This error didn't appear on zigbee-shepherd. Other devices (Xiaomi sensors, Tradfri bulbs, Hue motion sensors) didn't raise this error.

[2019-10-10 11:00] lorek123 commented on #60
I can help test it with Ikea Tradfri devices

[2019-10-11 14:22] ciB89 opened #63 "Error with latest dev version"
Hey, I updated Hassio to latest version 1.0 and now zigbee2mqtt exits with an error:
Running zigbee2mqtt-edge on latest commit.

[code]

[2019-10-11 14:46] ciB89 commented on #63
Just realized its an issue with lates dev version, not hassio itself. Downgrading to an older dev-version fixed it for me.

[2019-10-12 11:43] skandragon opened #64 "Support for XBee s2c?"
Can you give me an idea on how difficult it may be to add a driver for the XBee s2c module?  It has some characteristics I find more useful than the typical USB sticks for the TI chips, such as various power and antenna options.

I have quite a bit of familiarity with the module, but I don't have a lot of knowledge on how much the cc chips currently handle.  The XBee has router/endpoint/coordinato

[2019-10-12 11:55] Koenkk commented on #64
I'm not familiar with the device but it basically comes down to implementing this interface: https://github.com/Koenkk/zigbee-herdsman/blob/master/src/adapter/adapter.ts

[2019-10-12 16:23] Koenkk commented on #63
I cannot reproduce this, are you sure it isn't a connection issue and that the right path was specified?

[2019-10-12 17:52] lolorc commented on #63
also has this issue, and reverted by to previous commit
[code]

[2019-10-12 18:10] Koenkk commented on #63
@lolorc is this on CC2652R? in that case see https://github.com/Koenkk/zigbee2mqtt/issues/1429#issuecomment-541321343

[2019-10-12 18:42] fnxpt commented on #63
Im having the same error, just updated to the latest dev and latest firmware for CC2652R

[2019-10-12 21:04] Koenkk commented on #63
@fnxpt can you provide the logging when running with `DEBUG=* npm start` (provide it on pastebin.com and link it here).

[2019-10-12 21:43] fnxpt commented on #63
Cleaned up the docker and the volume directory and now Im getting Error: AREQ - ZDO - stateChangeInd after 60000ms

[2019-10-12 21:48] Koenkk commented on #63
Probably https://github.com/Koenkk/zigbee2mqtt/issues/1429#issuecomment-541340010

[2019-10-12 21:57] fnxpt commented on #63
@Koenkk it worked.... strange since it was working before

[2019-10-13 06:49] tb-killa opened #65 "Implement Channel Change Command"
Hi @Koenkk
i found that deconz use some Sort of Channel Change Procedure for End-Devices.
Found some Stuff on TI-Forum: https://e2e.ti.com/support/wireless-connectivity/zigbee-and-thread/f/158/p/515585/1871970

It would be great if we would also implement this because this would allow the change of zigbee channel (automaticly) by command and hopefuly the End-Devices also move to new channel.

[2019-10-13 07:50] tb-killa commented on #60
note to myself : use https://github.com/dresden-elektronik/deconz-rest-plugin/blob/master/linux/deCONZ/usr/bin/deCONZ-ikea-ota-download.sh to get ikea firmware files.

[2019-10-13 08:31] tb-killa opened #66 "Implement Timebased Join with Return Value for Timecounter"
To be in sync with official zigbee standards we should allow join with time and build return intervall counter to be usable by other thirdparty.

[2019-10-13 08:38] tb-killa opened #67 "Implement ZDO_MGMT_DIRECT_JOIN_REQ call"
This allow devices to join directly to coordinator by using the IEEE address.
Could be help when you reset the NVRAM of your coordinator and you want to push back some devices who are hard to join  into the network.

[2019-10-14 14:34] ciB89 commented on #63
After reinstalling zigbee2mqtt it works again

[2019-10-14 14:34] #63 closed

[2019-10-14 17:47] hobbyquaker opened #69 "Device.lqi always returns max 3 neighbours"
Is this normal behavior or a bug?

[2019-10-15 06:27] Koenkk commented on #69
I'm not sure, can you check via sniffing what wireshark shows?

[2019-10-15 07:25] tb-killa opened #70 "Zigbee Device PowerSource fa"

[2019-10-15 07:25] tb-killa opened #71 "Zigbee Device PowerSource wrong Mapping for Konke Devices"
Hi @Koenkk
It seem that your Power-Source Mapping seem to be wrong or the End-Device from Konke seems to be report wrong Power-Source-Value ``[34mzigbee2mqtt:debug[39m 2019-10-13T18:36:52: Received Zigbee message from 'konke_motion_1', type 'readResponse', cluster 'genBasic', data '{"modelId":"3AFE14010402000D","manufacturerName":"Konke","powerSource":0}' from endpoint 1 with groupID 0``.
With t

[2019-10-15 07:34] Koenkk commented on #71
The value reported by Konke is wrong:

![image](https://user-images.githubusercontent.com/2892853/66810165-f76a8c80-ef2e-11e9-87e9-34a76fe16a4b.png)

[2019-10-15 07:49] tb-killa commented on #71
hm. i thought this .. damn... i think konke doesnt patch them quickly.
okay we have to live with this fault at this time.
thanks a lot :)

[2019-10-15 07:49] #71 closed

[2019-10-15 07:49] #70 closed

[2019-10-15 11:59] tb-killa commented on #65
https://github.com/dresden-elektronik/deconz-rest-plugin/blob/master/change_channel.cpp

[2019-10-15 12:20] ChrisHae opened #72 "ConBee implementation"
Hello, I have noticed you started on implementation of the conbee adapter. I am from dresden elektronik and we'd like to help with the implementation. What do you think is the best way to synchronize the workflow?

We could contribute the code for the following tasks, to start with:

- CRC calculation
- SLIP frame builder
- Query and set Zigbee parameters

... in the files driver.ts and conbeeAdap

[2019-10-15 12:51] Koenkk commented on #72
Hi!

Could you perhaps contact me on telegram (@koenkk)?

[2019-10-15 20:08] hobbyquaker commented on #69
I see the `Link Quality Response, Status: Success` for each device multiple times, some appear twice, others even 5 or 6 times. They seem to be duplicates, they all include the same neighbourtable of only 3 devices. Are these duplicates because of Zigbee Routing?

![image](https://user-images.githubusercontent.com/2503307/66865809-50bad600-ef98-11e9-82bf-3694615712d2.png)

![image](https://user-im

[2019-10-16 06:13] Koenkk commented on #69
I'm not sure what is happening and ifthis is correct behaviour, but from the point of zigbee-herdsman this seems to be OK.

[2019-10-16 11:46] tb-killa opened #73 "Implement Polling Controll"
After seeing first ``checkin`` Commands by Konke Devices we should implement fully Polling Controll with all Cluster Types to be with the Standards:

- https://www.qorvo.com/design-hub/blog/demystifying-polling-control-in-zigbee-networks

[2019-10-16 11:48] tb-killa commented on #60
@Koenkk Where on herdsman i could implement ``genOta`` in and out for EP1 ?
I will rework my stuff from old shepherd but need first some basic basement on herdsman :)

[2019-10-16 12:32] Koenkk commented on #60
I think you need to add the `genOta` cluster similar like https://github.com/Koenkk/zigbee-herdsman/blob/master/src/adapter/z-stack/adapter/startZnp.ts#L48

Afterwards you can use https://github.com/Koenkk/zigbee-herdsman/blob/master/src/controller/model/device.ts#L208 to get the coordinator and  first endpoint of it to start sending requests.

zigbee-herdsman has no replacement for zapp (which zi

[2019-10-16 17:16] Koenkk commented on #72
I did some updates
- Renamed conbee to deconz
- zigbee-herdsman will automatically activate the deconz adapter when it detects one
  - auto detection is also support, for zigbee2mqtt just set
[code]

[2019-10-16 19:08] kirovilya opened #74 "Unknown ZDO command (200)"
Sometimes when I enable pairing, I get a strange command (with code 200). Parser falls:
[code]

[2019-10-16 19:34] Koenkk commented on #74
which command is this?

[2019-10-16 19:44] kirovilya commented on #74
@Koenkk I do not know :) I can not understand by the log.
perhaps this is the coordinator himself reporting.

[2019-10-16 19:48] kirovilya commented on #74
I had a situation when the devices did not want to pair. the error raised.
changed the channel (from 15 to 20) - the error disappeared, the devices began to pair.
Then, no more this error.

but the situation is strange. this error came out constantly

[2019-10-16 20:41] Koenkk commented on #74
Command is not document in z-stack documentation, found definition in the source code but I'm not sure what it means/does.

[2019-10-16 21:04] lolorc opened #75 "port doesn't accept symlink anymore"
since 0.10.0 we can't use a symlink anymore.
This is a regression, a lot of us do use udev rules to maintain a consistent name for our serial ports.
I've looked at https://github.com/serialport/node-serialport/issues/1476 and at several links from this issue;
I guess instead of counting on serialport to be able to list symlinks, it should be reasonable to see if the provided port is a symlink, fol

[2019-10-16 21:17] lolorc commented on #75
I used to run two instances of z2m with 2 coordinators on the same computer, autodetection won't help in that case

[2019-10-17 06:16] kirovilya commented on #74
Thank you. I think these are some zigbee 3.0 devices trying to start pairing and send a signal ZDO_CONCENTRATOR_IND_CBID
I'll see if the error repeats after completion

[2019-10-17 06:16] #74 closed

[2019-10-17 06:19] Koenkk commented on #75
Can you add on https://github.com/Koenkk/zigbee-herdsman/blob/master/src/adapter/adapter.ts#L46

[code]

and add to https://github.com/Koenkk/zigbee-herdsman/blob/master/src/adapter/adapter.ts#L6

[code]

[2019-10-17 07:37] tb-killa commented on #60
@Koenkk I add a new Endpoint:
[code]

and got this new messages after some Times from my Bitron Test-Device:

[code]
Now we need to ignore all ``genOta`` on converters because we would handle them internally.

[2019-10-17 08:06] Koenkk commented on #60
Change https://github.com/Koenkk/zigbee-herdsman/blob/master/src/controller/controller.ts#L424
to

[code]

[2019-10-17 08:28] lolorc commented on #75
@Koenkk yep that's ok.
I've been to lazy, I've edited the js inside node_modules :)
[code]

[2019-10-17 08:48] lolorc opened #76 "zigbee-herdsman:zStack:unpi:parser throwing binary debug messages"
Looks like it logs unformatted binary data:
https://github.com/Koenkk/zigbee-herdsman/blob/master/src/adapter/z-stack/unpi/parser.ts#L45

[2019-10-17 12:47] tb-killa commented on #60
@Koenkk maybe we could work together ?
I implement this stuff on branch 'ota' : https://github.com/tb-killa/zigbee-herdsman/tree/ota

[2019-10-17 16:37] Koenkk commented on #76
At the point this data is still binary, what's wrong with it?

[2019-10-17 16:49] Koenkk commented on #75
fixed, thanks!

[2019-10-17 16:49] #75 closed

[2019-10-17 17:32] lolorc commented on #76
having binary data in a log is useless as most of it is unprintable; and my terminal keeps beeping (visual beep here) all the time.
(yep I'm running with DEBUG=* all the time)
but it's definitely not a major issue but it's annoying. I've quickly tried a toJSON(), I failed :) I'm not even sure what kind of object frame is.

[2019-10-17 17:43] Koenkk commented on #76
Running with DEBUG=zigbee-herdsman:controller* probably makes more sense.

[2019-10-18 22:11] plasticrake opened #77 "Docker device mapping issue"
I switched my `zigbee2mqtt` docker container from `latest` to `latest-dev`. On startup I was getting:

[code]

I added this in `serialPortUtils.js` near the issue to get some debug info:

[code]

which output:

[code]

Note that all the devices returned by `serialport.list()` don't appear to match what is in `/dev/`. I tried changing` /dev/ttyACM0` to `/dev/ttyUSB0` in both my docker config and z2

[2019-10-18 22:31] Koenkk commented on #77
Does it work when adding `privilleged: true` ?

[2019-10-18 23:51] plasticrake commented on #77
With `ttyACM0` and `privileged: true` I get a slightly different error:

[code]
the device list still looks identical to before.

With `ttyUSB0` and `privileged: true` I get past that, but a different error:

[code]

[2019-10-19 08:39] Koenkk commented on #77
As you have the same issue as https://github.com/Koenkk/zigbee2mqtt/issues/2157, let's continue there.

[2019-10-19 08:39] #77 closed

[2019-10-19 18:30] wassfila commented on #32
If you'd like to port zigbee2mqtt to arduino, that's a lots of code.
You should first go to the lower layers : zigbee2mqtt is using zigbee-shepherd, and zigbee-shepherd is using cc-znp which is the one using the serial port. Or you could start a new implementation by checking the TI documentation, the UART protocol for the znp is documented on "Z-Stack Monitor and Test API".

[2019-10-21 21:02] groenmarsmannetje commented on #69
I have a similar observation. Before I started to use the dev version with source routing firmware and less then approx 40 devices the network map would show an almost perfect mesh network with every router connected to each other after a couple of days.

Now I am on dev version with latest source routing firmware and more then 40 devices. And what I see now is that besides the controller there ar

[2019-10-24 19:10] kirovilya opened #78 "How configure serialport path on Windows?"
Previously, under Windows, you could specify a com port by name, for example, "COM57". Now it doesn't work.
[code]

Trying to change to '\\.\COM57\' like describe here https://github.com/Koenkk/zigbee2mqtt.io/blob/master/docs/information/windows.md
[code]

[2019-10-24 20:06] Koenkk commented on #78
Is this with herdsman 0.11.1?

[2019-10-25 05:52] kirovilya commented on #78
0.11.0
I think we need to check platform before apply "realpath"
```serialPortOptions.path = RealpathSync(serialPortOptions.path);```

[2019-10-25 05:55] Koenkk commented on #78
Can you try with 0.11.1, that should fix it

[2019-10-25 06:02] kirovilya commented on #78
I looked at the commit - yes, it will work, but it is very strange, it is easier to check the platform :)

[2019-10-25 06:41] Koenkk commented on #78
that may be nicer, but still many things can go wrong, even on linux in docker the `serialport.list` won't always work. This just acts as a fallback mechanism.

[2019-10-26 09:13] tb-killa commented on #67
![Screenshot_20191026_110926](https://user-images.githubusercontent.com/932481/67617261-a76ab000-f7e1-11e9-80f2-f14f06084650.jpg)

[2019-10-27 19:08] #78 closed

[2019-10-28 15:15] #17 closed

[2019-10-29 15:14] kirovilya opened #81 "Allow permit join to router"
In the previous version of the "shepherd" it was possible to start pairing on a specific router.
I took this opportunity.
https://github.com/kirovilya/zigbee-shepherd/blob/master/lib/components/controller.js#L395

By transmitting the network address of the router, you could start pairing on a specific device. Now this opportunity has disappeared.

I propose to return this opportunity :)

[2019-10-30 14:10] felixstorm commented on #72
@Koenkk Is Conbee 2 support considered to be working as of now?

I am currently pretty displeased with the CC2531 in my environment using HA 1.2 firmware (unable to pair more than 20 *routing* devices (ubisys), loosing devices from time to time and ended up splitting my network, also tried source routing variant, but that seemed to make it even worse). And since the Zigbee side used to work fine a

[2019-10-30 14:45] Koenkk commented on #72
@felixstorm no it's not supported yet, you might want to give the CC2652R a try though https://github.com/Koenkk/zigbee2mqtt/issues/1429 (which is fully supported in latest dev).

[2019-10-31 07:03] #18 closed

[2019-10-31 19:45] timota commented on #69
I made some tests to check:
- if i add only 2 devices (end-devices) to coordinator - i can see `linkquality` for them and so z2mAssistant can build proper map.
- if i add 3-d device:
    - in logs i can see that device reports `linkquality`
`zigbee2mqtt:info  2019-10-31T19:37:38: MQTT publish: topic 'zigbee2mqtt/0x00158d000274fe84', payload '{"battery":80,"voltage":2965,"contact":false,"linkqualit

[2019-10-31 20:52] clockbrain commented on #69
I think what's going on relates to nuances of the neighbor lqi table. Its includes a start index and count. In master the network map scan code ignores these and returns all values in the table that have a relationship type <=3
https://github.com/Koenkk/zigbee2mqtt/blob/e26ad2aca2eeb0aa366982481eb921ee603fb6d1/lib/zigbee.js#L364

In dev this scan has been moved to zigbee-herdsman and probably corr

[2019-10-31 21:02] timota commented on #69
to be honest no idea as well, but additional tests shows that even if devices are sleeping, i mean first 2, it still shows only them connected, even if i constantly pressing wakeup button on 3d one and start rescan

[2019-10-31 22:10] dartrax commented on #26
I have the same problem.

This does not solve it for me. Still the same :(

[2019-11-02 19:42] kirovilya opened #82 "Bad interview of TERNCY-PP01"
Need help analyzing a failed interview with the new TERNCY PP01 device.
[bad_interview.log](https://github.com/Koenkk/zigbee-herdsman/files/3800872/bad_interview.log)

First of all, I added a new endpoint 110 for the coordinator (in startZnp.js), as this is where some commands from the device come.
Second, I tried to add a 'checkin' command in the events.js file, but not handle. Yes, I seen not im

[2019-11-02 19:55] sjorge commented on #60
Just of minor interest, ubisys allows us to request the OTA firmware once we have this working!

https://www.ubisys.de/wp-content/uploads/ubisys-s1-technical-reference.pdf

[code]

**You may request the latest firmware in ZigBee OTA image format to upgrade devices in the field using your own OTA server and back-end.**

[2019-11-02 20:11] tb-killa commented on #82
Hi maybe your don't do a default Response and need this tweak too?

https://github.com/Koenkk/zigbee-herdsman/commit/2de4d56521d4f5d88026c999886b367ef895d8bc

[2019-11-02 20:14] tb-killa commented on #81
For this we need to rewrite permit function on https://github.com/Koenkk/zigbee-herdsman/blob/5098984f088edfb76972e22c2b1d075079c048bf/src/adapter/z-stack/adapter/zStackAdapter.ts#L142
For first test you could add data manually and report if test passed :)

[2019-11-03 04:28] kirovilya commented on #82
@tb-killa execution does not reach 'ssIasZone enrolling'. falls on receiving active endpoints https://github.com/Koenkk/zigbee-herdsman/blob/master/src/controller/model/device.ts#L311
```Interview failed for '0x000d6f00106a64e8 with error 'Error: AREQ - ZDO - activeEpRsp after 10000ms'```

[2019-11-03 05:05] kirovilya commented on #82
very strange ... yesterday I mated several times and there has always been a failure ...
Today I performed pairing through the debugger and it turned out to be successful ... maybe some pauses (stops in the debugger) did the trick, because in the normal pairing mode I again failed.
[good_interview.log](https://github.com/Koenkk/zigbee-herdsman/files/3801262/good_interview.log)

[2019-11-03 05:19] kirovilya commented on #82
Sometimes it fall with ```Interview failed for '0x000d6f00106a64e8 with error 'Error: AREQ - ZDO - simpleDescRsp after 10000ms'``` on line https://github.com/Koenkk/zigbee-herdsman/blob/master/src/controller/model/device.ts#L319
:((

[2019-11-03 05:27] ksuclipse opened #83 "Cant get Xiaomi Motion to reconnect"
Motion sensors disconnected tried to repair but for some reason keep getting zigbee-herdsman:controller:log Not interviewing '0x00158d00035ffa60', completed 'true', in progress 'false'
I removed all occurances of the device in database.db and configuration

here is the relevant logs:

[code]

[2019-11-03 07:07] kirovilya opened #84 "Unknown cluster 23"
Got unknown cluster 23 with device ORVIBO CR11S8UZ:
[code]
Can't find description of this cluster...

[2019-11-03 09:03] Koenkk commented on #82
I guess that while pairing the device falls asleep. Can you sniff the traffic while pairing it? https://www.zigbee2mqtt.io/how_tos/how_to_sniff_zigbee_traffic.html

[2019-11-03 09:13] Koenkk commented on #83
The device did actually reconnect: Device '0x00158d00035ffa60' joined. But zigbee-herdsman doesnt interview it again because it already did.

[2019-11-03 09:13] kirovilya commented on #82
@Koenkk yes, i can. but pairing will be only from 2531, there is no native gateway

[2019-11-03 09:22] kirovilya commented on #84
some handlers for this cluster and device https://github.com/monninn82/SmartThingsPublic-Backup/blob/master/devicetypes/smartthings/zigbee-scene-keypad.src/zigbee-scene-keypad.groovy#L61

[2019-11-03 09:27] Koenkk commented on #82
Yes thats OK

[2019-11-03 09:49] tb-killa commented on #84
Hi @kirovilya is this your mentioned device?
https://github.com/dresden-elektronik/deconz-rest-plugin/issues/1666

[2019-11-03 09:52] kirovilya commented on #82
two pairing processes
[pp01.zip](https://github.com/Koenkk/zigbee-herdsman/files/3801366/pp01.zip)
pp01-1 ended with Error: AREQ - ZDO - simpleDescRsp after 10000ms
pp01-2 ended with Error: AREQ - ZDO - activeEpRsp after 10000ms

[2019-11-03 09:53] kirovilya commented on #84
@tb-killa yes

[2019-11-03 15:05] ksuclipse commented on #83
That’s what I thought but I’m not getting any mqtt updates and when I hit the button on the motion sensor it does the 3 flashes instead of two which supposedly means it can’t connect to the controller.

[2019-11-03 15:34] kirovilya commented on #84
I think we can use dummy-cluster for this case:
[code]

[2019-11-03 18:39] Koenkk commented on #82
It seems that the device also reports it's model ID just after pairing (pp01-1.pcapng no. 36). Add this here: https://github.com/Koenkk/zigbee-herdsman/blob/master/src/controller/model/device.ts#L280

[code]

[2019-11-03 18:57] Koenkk commented on #83
- Did it work before?
- Could you sniff the traffic when motion is detected so we can check if the sensor is broken or it is a zigbee2mqtt issue (https://www.zigbee2mqtt.io/how_tos/how_to_sniff_zigbee_traffic.html).

[2019-11-03 18:59] Koenkk commented on #84
Yes, but also commands and attributes have to be added otherwise it has no use.

[2019-11-03 19:59] kirovilya commented on #82
With this code, the interview goes well :) but aren't we missing something?

Here is another example of an unsuccessful interview - now this device is ORVIBO, but it was not possible to get the model.
[orvibo-1.zip](https://github.com/Koenkk/zigbee-herdsman/files/3802050/orvibo-1.zip)

This trend will lead us to an early description of devices along with their properties, clusters and endpoints -

[2019-11-03 20:37] Koenkk commented on #82
Something else is going on here.

- In the active endpoint request it responds with endpoint 0 and 1
- However according to the ZCL endpoint 0 is an invalid ID and shouldn't be used
- zigbee-herdsman than request the simple descriptor of endpoint 0, which of course fails because this is an invalid endpoint.
- As endpoint 0 should never be used, we can ignore this safely, change

https://github.com

[2019-11-03 20:48] kirovilya commented on #82
Now I got it model '3c4e4fc81ed442efaf69353effcdfc5f' :)) Thank you.
But it does not coincide with that of smarttings :))))

Now I can make converters and PR.

[2019-11-04 05:56] kirovilya commented on #84
This is only necessary to eliminate parsing errors. We already have similar clusters without attributes and commands https://github.com/Koenkk/zigbee-herdsman/blob/master/src/zcl/definition/cluster.ts#L3457

Processing data can be handled like a buffer.

[2019-11-04 13:26] jk commented on #22
Any news? Issue should not be closed by the bot.

[2019-11-04 16:47] Koenkk commented on #84
So the idea is to parse the raw buffer in zigbee-herdsman-converters?

[2019-11-04 16:50] kirovilya commented on #84
@Koenkk yes
[code]

[2019-11-04 16:57] sjorge opened #86 "Occasionally get UnhandledPromiseRejectionWarning from waitress.js"
# Bug Report
## What happened
[code]

I get this error every now and then after having paired 2 new E1743 remotes. Both got unbound from group with ID 99 and bound to 2 other groups, each group has 1 bulb in it, one has an IKEA bulb the other a Hue bulb.

This may be related to the 'emulated' reporting, but I also got it at least once after removing a group.

## What did you expect to happen
n/a

[2019-11-05 18:24] Koenkk commented on #84
Instead of having to define an empty cluster, zigbee-herdsman will now expose the cluster ID instead (as a number). So adding it to `clusters.ts` is not needed anymore.

Your converter should then use a number instead of string:

[code]

[2019-11-05 18:24] #84 closed

[2019-11-05 18:32] kirovilya commented on #84
Ok. thank you

[2019-11-05 20:44] sjorge commented on #86
I'll update and keep an eye out on the logs for more of this

[2019-11-05 20:59] sjorge commented on #86
I can get you more context from the log from yesterday...

[code]

[2019-11-05 21:00] sjorge commented on #86
I thought I had 3 of those... I do but only one is in zigbee2mqtt, the other two are in node-red from around the same timestamp... I wonder if it may be something were ntpd correct the clock offset and it messed with the timers or something? It's all around the same time ~16:53-16:54

[2019-11-05 21:05] sjorge commented on #86
Also I looked up which device the network address belonged too..

[code]

[2019-11-06 09:48] Koenkk commented on #86
Please provide the output when running with the latest docker container, otherwise logging is incomplete.

[2019-11-08 12:35] sjorge commented on #86
Not had the error since the update.

[2019-11-08 22:52] sjorge commented on #86
Got another one today:
[code]

[2019-11-10 13:54] Sineos opened #87 "[Question] Valid PANId"
I'm using @hobbyquaker node-red zigbee implementation (herdsman v0.12.3) and switched from CC2531 to Z-Stack 3.0 with CC1352P-2.

In this process I changed my Network Key and the PANId. The PANId currently set in the node settings is 1A63.
It worked quite flawlessly and I could easily pair all my devices (even without bringing them near the coordinator) but one issue remains: I can no longer join

[2019-11-10 16:28] Koenkk commented on #86
Can you provide the log of this error when running zigbee2mqtt with `DEBUG=zigbee-herdsman*`

[2019-11-10 19:05] Koenkk commented on #87
1. Yes
2. The encryption key is 128 bits, (16 * 8 bit unit)
3. No

[2019-11-10 19:05] #87 closed

[2019-11-10 19:09] Sineos commented on #87
Uups, of course 128 bit (mentally got stuck at the 32 chars). Thnx for the correction

[2019-11-10 21:27] Koenkk commented on #69
I've found the issue. As can be seen here: https://github.com/Koenkk/zigbee-herdsman/issues/69#issuecomment-542383090. The first requests return the first 3 values, while the table holds 8 values. Zigbee-herdsman didn't request the remaining 5. Fixed, thanks all!

[2019-11-10 21:27] #69 closed

[2019-11-10 21:35] sjorge commented on #86
That would be the same as running with logging set to debug?

[2019-11-11 07:18] Koenkk commented on #86
No, you will also get the zigbee-herdsman debug logging on the stdout with this.

[2019-11-11 12:48] h4nc opened #88 "Network gets slow when using Ikea dimmer"
I updated to 1.7.0. and it worked until I tried to use my ikea dimmer. My system immediately got stuck.
I tried several things (restarting, reinstalling) but only reflashing my stick made it work again.

There is no error but when I'm using my ikea dimmer now the system gets extremely slow. Other devices won't work for some seconds. It feels like the dimmer sends to many messages and the system ge

[2019-11-11 12:56] Koenkk commented on #88
I don't think messages of the dimmer are the issue, but that the automation made based on the dimmer are an issue. Due to https://github.com/Koenkk/zigbee-herdsman-converters/commit/ad29b2b6bcdb8ae561d21f2c8baf5c82fd681e51 it publishes more frequent -> if your automation responds to all of them using e.g. a dim command on a zigbee bulb, there will be a lot of commands.

[2019-11-11 13:30] h4nc commented on #88
I see, thanks. Wasn't thinking of that. Was thinking that z2m must be the issue because this is what I changed.

So the issue that I had to reflash my device way most probably something different, I had an error there but did not save it (sry). Can't find it in the logs any more.

This is my automation. Would it be better to use the sensor entity of the dimmer? I think this would probably change t

[2019-11-11 15:46] sjorge commented on #86
[code]

I had it running all day without and error, until I was messing with my desk layout and unplugged some stuff including 1 hue bulb.

I think in this case it makes sense as the bulb was offline I think when it tried to do something with it.

[2019-11-11 17:11] Koenkk commented on #88
From the zigbee2mqtt side you can use the debounce: https://www.zigbee2mqtt.io/information/configuration.html#device-specific-configuration

[2019-11-11 17:39] h4nc commented on #88
Perfect solution, thanks!

[2019-11-11 17:39] #88 closed

[2019-11-11 17:47] lolorc commented on #88
another workaround would be to add some kind of repeat number like LIRC does. It sends the remote code with a sequence number by. It would be easier to pick the first message  or every message with sequence modulo something.
debounce will work on every message as far as I understand

[code]

[2019-11-12 12:11] h4nc commented on #88
Seems like debounce works fine, lag is gone. Don't know if lire would make more sense. @Koenkk ?

[2019-11-12 13:24] #14 closed

[2019-11-12 16:19] lolorc commented on #88
i guess the elapsed attribute could also be used in HA automation: don't treat msg with a
 small elapsed.

[2019-11-12 16:33] h4nc commented on #88
But would this mean the broker has to deal with all those messages. Isn’t it better to avoid this on the z2m side with debounce?

[2019-11-12 17:34] Koenkk commented on #88
I feel debounce is a cleaner solution, it doesn't add any extra stuff to the payload keeping it clean. @h4nc would you mind making a PR to update the docs? https://github.com/Koenkk/zigbee2mqtt.io/blob/master/docs/devices/ICTC-G-1.md

[2019-11-12 20:58] lolorc commented on #88
my point of view here is that I don't want z2m to mask/merge/do anything-supposedly-smart with my zigbee messages and attributes.
I don't like the cache setting either, it's just here to circumvent a limitation of HA.

[2019-11-12 22:52] h4nc commented on #88
@lolorc I understand your point of view, but for me debounce is good enough as it solves my issue

@Koenkk done

[2019-11-14 05:15] djchen opened #89 "45853GE missing energy reporting"
I re-paired one of my 45853GE plugs which has energy reporting and it no longer reports power usage.

1. Removed plug from network
2. Reset plug and it re-joined network
3. Able to turn it on and off but does not report power usage
I've repeated this 3 times, same results.

Logs from pairing:
[code]

Problem device in database.db
[code]

Fully working device in database.db (another of the same plu

[2019-11-14 10:16] Koenkk commented on #89
Before re-pairing, did you do https://www.zigbee2mqtt.io/information/mqtt_topics_and_message_structure.html#zigbee2mqttbridgeconfigremove (this is crucial otherwise the device won't be configured again to provide power measurements)

[2019-11-14 18:45] djchen commented on #89
Yes I did. I also confirmed the device was removed from the configuration.yaml and database.db after issuing the remove.

[2019-11-14 19:37] Koenkk commented on #89
Can you try changing the device definition in `devices.js` to

[code]

Instructions on how to modify this file locally can be found here: https://www.zigbee2mqtt.io/how_tos/how_to_support_new_devices.html

If this doesn't work, please share `database.db`.

[2019-11-14 20:15] djchen commented on #89
Steps I just took
1. Removed device from network
2. Stopped zigbee2mqtt and made sure it was removed from state.json, configuration.yaml, and database.db
3. Started zigbee2mqtt with the modified devices.js

Unfortunately it still does not show power usage. Is there a way I can privately send you my `database.db`?

[2019-11-14 20:15] arteck opened #91 "ping fail"
i test the new lib.... and have a little bug
![grafik](https://user-images.githubusercontent.com/6681528/68892686-d2328f00-0723-11ea-9264-6c927dd76c03.png)
this is a hue bulb..but same problem i have with osram plugs

![grafik](https://user-images.githubusercontent.com/6681528/68892805-0a39d200-0724-11ea-94d6-c6bf9767f694.png)

the devs works fine .. only the ping error is strange

[2019-11-14 20:50] Koenkk commented on #89
Yes on telegram (@koenkk)

[2019-11-14 20:50] bohtho commented on #23
This is exemplary complementary development! And with such quality! I’m ditching my current zigbee system and migrating it all to zigbee-herdsman/node-red-contrib-node-zigbee based on reputation, documentation and what I see here alone.

[2019-11-15 07:21] Koenkk commented on #89
I've checked your `database.db` and it seems that it didn't configure with the new configuration. (`"configured":2"`) while it should be `3` (as `configureKey = 3` in the new config).

Did you see a fail to configure when starting zigbee2mqtt?

Also can you provide the logs when running with debug logging and attaching a load to the switch?

To enable debug logging set in `configuration.yaml`:
[co

[2019-11-15 07:23] Koenkk commented on #91
Could you sniff the traffic while this happens to see if the device really doesn't respond or if this is a zigbee-herdsman issue?

[2019-11-15 09:31] arteck commented on #91
the device is anline and works (on/off).. only the ping is here wrong .. i think its a zigbee-herdsman issue

[2019-11-15 18:13] ksuclipse opened #93 "What does this mean in log"
I see this a lot and have a couple devices that are not communicating properly.  Is this the device trying to communicate but the controller not understanding?

[code]

[2019-11-15 20:48] Koenkk commented on #22
I've did some initial implementation but I need your help guys to test (very experimental).

On a bare metal install:
[code]

After this start zigbee2mqtt and start sniffing the network (https://www.zigbee2mqtt.io/how_tos/how_to_sniff_zigbee_traffic.html).

Also make sure that there is at least one Hue bulb in the network (this will act as the green power sink).

Now reset the device, on the Hue t

[2019-11-15 22:07] Koenkk commented on #91
Ok, then I still need the sniff to find out what is going on (I don't have this device myself).

[2019-11-15 22:26] Koenkk commented on #93
I've fixed the logging, but that has nothing to do with your real problem, I will close this as the logging issue has been fixed.

[2019-11-15 22:26] #93 closed

[2019-11-16 07:46] djchen commented on #89
That's because I reverted the devices.js and re-paired. I'm going to spin up a new zigbee2mqtt instance with a different cc2531 stick and the modified devices.js and try it again this weekend.

Thanks! I'll report back soon.

[2019-11-16 14:50] arteck commented on #91
router device is here the problem

[2019-11-18 10:12] h4nc opened #94 "Symfonisk Sound controller not reliable"
I'm facing an issue with my new Ikea Sound Controller.

Similar to this https://github.com/Koenkk/zigbee-herdsman/issues/88
my HA page gets slow when I use the volume controller. When I use `debounce: 0.01` it works but the state will mostly show up as `rotate_stop`.
No automation for this yet (which could slow down things), so I only look at the state of the entity.

BTW it doesn't slow down the

[2019-11-18 17:04] hobbyquaker opened #95 "Commands before Startup"
Hi Koen,

could you take a look at this issue and tell me your opinion about it? https://github.com/hobbyquaker/node-red-contrib-zigbee/issues/74

Do you think that's something I should catch in node-red-contrib-zigbee or is this something that should be addressed in the herdsman?

Regards,
Sebastian

[2019-11-18 17:58] Koenkk commented on #95
You shouldnt submit commands to herdsman before it started, in herdsman we can add a check which throws an exception when this is done.

[2019-11-18 21:09] hobbyquaker commented on #95
Thanks! Fixed that in node-red-contrib-zigbee.

[2019-11-20 07:16] djchen commented on #89
@Koenkk Made the changes to devices.js and tried to re-pair with debug logging. Saw this:

[code]

[2019-11-20 07:21] djchen commented on #89
Side note, I upgraded from CC2531 to CC26X2R1 and had to re-pair everything. I started with fresh config and all of the 45853GE lost power metering.

[2019-11-20 09:44] Koenkk commented on #89
I don't see a configure for the `45853GE` in your logs.

- Do you still have the changes of https://github.com/Koenkk/zigbee-herdsman/issues/89#issuecomment-554045466 ?
- If yes, can you share your `database.db`?

[2019-11-22 16:26] engelant opened #96 "Virtual coordinator with multiple CC2531 routers"
I would really like to find out, wether it would be possible to run multiple CC2531 devices in router mode and forward their data via usb/serial/socat to a central, virtual coordinator. This should enable to create a sort of failover/seperate area/roaming environment.

[2019-11-24 01:03] djchen commented on #89
@Koenkk Sorry for the delay, I finally got the extra plug and setup a separate instance of Z2M. (This will make it easier for me to test things without breaking my network)

Logs:
https://gist.github.com/djchen/3e3590c1b4c391a197ece9d66be3fe11
DB:
https://gist.github.com/djchen/de237220b6acfdc0b8a7d1b14bcbad18

This is with the modified devices.js.

[2019-11-24 10:22] cmorlok commented on #22
Does this mean that only Hue bulbs can act as a sink? Or do the CC253x or
any other router have this capability, too?

[2019-11-25 11:58] Koenkk commented on #22
@cmorlok I haven't seen any other devices providing this yet.

[2019-11-25 12:07] cmorlok commented on #22
Could the CC253x coordinator/router act as a sink? Or is it a hardware
limitation?

[2019-11-25 16:59] Koenkk commented on #89
I think this is a bug in the zigbee2mqtt 1.7.1 release. Can you try to switch to the latest dev branch, remove the device from `database.db` and pair it again?

[2019-11-25 17:18] Koenkk commented on #22
@cmorlok it's not a hardware limitation, hopefully in the future we might be able to adapt the firmware correctly.

[2019-11-25 18:09] skandragon opened #97 "Setting transmit power and receive gain"
I see in the docs there is a way to adjust the power level for transmit, and the RX gain for receive.

I am getting incredibly poor LQI as reported by a Xbee mapping my network -- all routers connected to my coordinator return poor LQI values, regardless of the TI device used -- I've tried PCB and modified external antenna versions of the USB stick, as well as a CC2530 (EBYTE E18-M31-IPX and -PCB)

[2019-11-26 05:13] djchen commented on #89
I pulled down the lastest-dev docker image just now, reverted the devices.js change, and started with a fresh install. I'm still not seeing power usage.

The commit shorthash matches the latest dev branch commit.

Logs:
https://gist.github.com/djchen/c8251f19d271f1ae309a55d4883609c2
DB:
https://gist.github.com/djchen/96c93a87b23e03c059a7546ba62b5868

[2019-11-26 05:20] djchen commented on #89
Heres the same as above but with the devices.js modification.

Logs:
https://gist.github.com/djchen/bc7a423068a8751b86f78bd2aabb64ae
DB:
https://gist.github.com/djchen/6f3f572eb8c74b1ed77177dbaa11646e

[2019-11-26 19:00] #33 closed

[2019-11-26 19:34] Koenkk commented on #97
There are already quite some upvotes on https://github.com/Koenkk/zigbee2mqtt/issues/2253 so I will try to start working on it soon.

[2019-11-27 09:24] djchen commented on #89
@Koenkk I am able to get a power value if I change
`await endpoint.read('seMetering', ['multiplier', 'divisor']);`
to
`await endpoint.read('seMetering', ['multiplier', 'divisor', 'instantaneousDemand']);`

[code]

It seems like the configureReporting of instantaneousDemand isn't working properly?

[2019-11-27 17:38] Koenkk commented on #89
The device somehow doesn't seem to care about the configured reporting, can you try with:

[code]

[2019-11-27 17:39] Webunity commented on #22
@Koenkk great work so far, is my assumption correct that:

- Support for the Hue Smart Switch is experimental
- If you reset your Friends of Hue Smart Switch this way; it will no longer be connected to the Hue app?
- But you will gain immediate feedback when pressing a button without the need for a high polling frequency on the Hue bridge?

[2019-11-27 19:36] Koenkk commented on #22
I don't know anything about how it works with the hue bridge, but when connected with zigbee2mqtt, the hue hub is completely out of the picture.

[2019-11-27 20:03] uncle-fed opened #98 "Aqara Opple Switch support ( Model WXCJKG12LM )"
https://homekitnews.com/2019/10/23/aqara-and-opple-release-new-smart-switches/

I got my 4-button switch today, model WXCJKG12LM (also 2 and 6 button switches are available) and was eager to make it work with zigbee2mqtt.

The device is currently not supported and I started following the instructions here https://www.zigbee2mqtt.io/how_tos/how_to_support_new_devices.html

Immediately ran into a pa

[2019-11-27 20:21] uncle-fed commented on #98
Debug log below

[code]

[2019-11-27 20:22] Webunity commented on #22
Great, since i want my motion sensors and buttons presses to run through node-red anyway; i'll buy the components and see how it will work out 👍

[2019-11-27 20:29] uncle-fed commented on #98
OK, I clicked on the switch main buttons multiple times and then and held 2 buttons out of 4 together press in various combination.. and suddenly the switch got paired. I really don't know what made it work, but the "official reset button" on the back of the switch that you need to hold for 5 seconds to start pairing did not work by itself.

[2019-11-27 20:50] Koenkk commented on #98
There is already a pr open, https://github.com/Koenkk/zigbee-herdsman-converters/pull/774

[2019-11-27 20:50] #98 closed

[2019-11-28 18:41] Koenkk commented on #22
@Webunity for know only Hue bulbs provide this, but could possibly be added to a CC2531 router firmware later. (but I first want to know if this feature works at all).

[2019-11-28 22:19] BudBundi commented on #60
Ledvance/Osram Smart+ firmware can be found here: https://update.ledvance.com/firmware-overview?submit=all

Maybe this also helps https://phoscon.de/en/support#ota-update-osram-devices

[2019-11-29 07:40] KoljaWindeler opened #101 "IP socket as alternativ to serial port"
Hi,
want do you think about adding a IP sockets connection in addition to the serial port?

I'm using socat to create a virtual serial socket which sort of work, but every once in a while the connection crashes. At that point my script has to shut down socat and zigbee2mqtt and start all over.

It would be nice if zigbee-herdsman could connect directly via IP and also handle those rare reconnects.

[2019-11-29 07:52] Koenkk commented on #101
This is already possible in the latest-dev, docs: https://github.com/Koenkk/zigbee2mqtt.io/blob/develop/docs/how_tos/how_to_connect_to_a_remote_adapter.md

[2019-11-29 07:52] #101 closed

[2019-11-29 10:57] Exhortae opened #102 "Device paired successfully but no communication with zigbee2mqtt"
Hi,

I have a strange problem that I can't seem to solve

I bought a gledopto downlight 9W (Model ID GL-D-004ZS) and paired successfully with  zigbee2mqtt

[code]

I had to add it's configuration in /zigbee2mqtt-1.7.1/node_modules/zigbee-herdsman-converters/devices.js to make it supported

    {
        zigbeeModel: ['GL-D-004ZS'],
        model: 'GL-D-004ZS',
        vendor: 'Gledopto',
        d

[2019-11-29 12:34] KoljaWindeler commented on #101
outstanding! thanks a lot! (sorry, didn't find it in the docs .. )

[2019-11-29 19:32] KoljaWindeler commented on #101
hi @Koenkk any chance that you'll add a reconnect mechanism? It works now without socat and thats great, but will still require to restart once it disconnects .. not a big issue but might be a nice improvement

[2019-11-30 04:30] #82 closed

[2019-11-30 17:05] Koenkk commented on #102
Can you provide the debug log when sending to `zigbee2mqtt/0x00124b001ef16597/set` payload `ON` or `OFF`?

To enable debug logging set in `configuration.yaml`:
[code]

[2019-11-30 20:58] Exhortae commented on #102
Hi,

I tried with a new downlight (same model though), this is the log since the pairing to the issue of a payload off

[code]
The downlight do turn off, I think it's actually a problem of integration of the device with hassio. I tried to add the device manually in hassio and it worked (I can change color, brightness..),

It's strange that It doesn't get recognized automatically in hassio.

[2019-12-01 08:15] djchen commented on #89
@Koenkk That doesn't seem to work. I checked the database.db and see `..."meta":{"configured":4}...` but not seeing energy reporting with a 5-10W load.

[2019-12-01 13:45] oepoemoepoe commented on #22
@Koenkk I will test your instructions as soon as I get my CC2531 and set everything up. I will also contribute 1 or 2 new lights. I just found out about this possibility to connect more Zigbee devices than with my Hue and must say I love the fact that contributing to it is so easy!

[2019-12-03 08:05] Koenkk commented on #101
@hdo could you take a look at this?

[2019-12-03 08:05] Koenkk commented on #101
@hdo could you take a look at this?

[2019-12-03 08:08] hdo commented on #101
I'll take a look into this.

@KoljaWindeler Why does the disconnect happen? How can i reproduce this?
My setup is running for almost 3 weeks and i didn't encounter any disconnects.

[2019-12-03 08:43] felixstorm commented on #72
Just fyi for anybody following - I switched to the CC2652R and it has been working flawlessly for a few weeks now.

[2019-12-03 18:54] Koenkk commented on #102
For the device to be recognized in home assistant it needs to be added to https://github.com/Koenkk/zigbee2mqtt/blob/master/lib/extension/homeassistant.js

I've added the device now and also to homeassistant.js.

It will be supported in the hassio edge version in a few hours, no manual changes from your side are needed anymore.

[2019-12-03 18:54] #102 closed

[2019-12-03 19:13] Koenkk commented on #89
@djchen any change you could sniff the network when attaching a load? https://www.zigbee2mqtt.io/how_tos/how_to_sniff_zigbee_traffic.html

[2019-12-04 22:56] sjorge commented on #54
If a hard reset is the same as wiping the config section you can do with the TI flasher... then yes... the database needs to be remove and also the groups section in configuration... we can leave devices as is... also after that a new panID is needed as the old one is still taken by the devices that are now coordinater less

[2019-12-05 09:18] KoljaWindeler commented on #101
Hi, I guess this isn't due to zigbee2mqtt .. but sometimes wifi signals get yammed or the client device restarts for other reasons etc .. it's just likely that the connection won't stay stable forever, right?
Thanks for your work!

[2019-12-05 09:27] hdo commented on #101
This could be a reason. Are you using ESP32 as serial tcp bridge?

[2019-12-05 13:23] #41 closed

[2019-12-06 19:08] kirovilya opened #104 "Deferred operations (configure, bind/unbind, remove) with battery devices"
I noticed that battery devices often do not respond to commands. For example: configuration, bind/unbind, device deletion.

If it was somehow managed to be solved the 'configure' operation, then with two other cases it does not always work.
I think that devices need to use a similar approach - try to send a command several times when the device gets in touch.

Also, it is desirable to make this fu

[2019-12-07 16:39] #58 closed

[2019-12-09 17:15] sjorge opened #106 "Make device.lastSeen persistent across restarts"
As mentioned in koenkk/zigbee2mqtt#2464 device.lastSeen is not persistent, it would help if it was to ensure we do not 'forget' about devices via deviceAvail.

[2019-12-10 22:01] sjorge commented on #106
I opened #107 but I am not sure how to test this as dropping in the .ts files doens't seem to work

[2019-12-11 20:46] Koenkk commented on #106
merged, thanks!

[2019-12-11 20:46] #106 closed

[2019-12-14 07:54] #52 closed

[2019-12-15 18:06] n1zzo opened #108 "Failed to pair btcino power meter"
Hi @Koenkk,
I'm trying to pair an unsupported device to zigbee2mqtt:
the btcino F20T60A power consumption meter,
however the device pairing fails during the interview phase.
[Here](https://pastebin.com/4nSxSAnR)' s the output log from zigbee2mqtt with debug logs enabled.

At these links you can find capture files for a [successful pairing](https://www.icloud.com/iclouddrive/0Oq9K_rYTs5JWaCpkshkG4m

[2019-12-15 18:28] Koenkk commented on #108
The node descriptor request fails, can you try with zigbee2mqtt 1.8.0 as this will try to get it for 6 times instead of 2.

[2019-12-15 18:51] n1zzo commented on #108
Sure, still fails, here's the output:

[code]

[2019-12-16 18:40] Koenkk commented on #108
It seems you are not on the latest herdsman, after updating to 1.8.0 did you do a `rm -rf node_modules && npm install` in the zigbee2mqtt directory?

[2019-12-16 20:24] n1zzo commented on #108
You are right, sorry for the delay,
here's a fresh docker installation @ 1.8.0.

[code]

If you looked at the capture traces, the only difference seems that the Transport Key is sent just once
instead of twice, in your opinion, could that be the culprit?
I'll try to modify the ZStack firmware to achieve the double Transport Key pairing.

Thank you for the help!

[2019-12-17 22:01] sjorge commented on #65
Would this also allow for pairing device that need to be on  specific channel and then move them to the configure/prefered one?

[2019-12-18 09:09] swannes commented on #22
Can we sponsor hardware to Koen so he can work on this directly (without any promisses regarding suport for said device!!)

[2019-12-18 12:54] #64 closed

[2019-12-19 13:02] #66 closed

[2019-12-19 19:42] bodiroga opened #110 "Error message when old Philips Hue bulbs are requested to report status updates"
Hi @Koenkk!

As requested in https://github.com/Koenkk/zigbee2mqtt/issues/1064#issuecomment-566697914, I open this issue to track the problem.

The problem is that, after enabling 'reporting' in zigbee2mqtt's configuration file, some old Philips Hue bulbs report that they don't support the feature and zigbee-herdsman ignores the message and just waits until the timeout timer expires. Instead, I pr

[2019-12-20 09:46] xeno010 opened #112 "ZNP: Socket needed a keepalive option"
**Problem:**
If the remote peer does not disconnect the TCP connection properly (e.g. by crashing or wifi reconnect), the herdsman-znp will not notice.
All incoming data from sensors (CCXXX -> tcp > zigbee2mqtt) is then lost because herdsman-znp thinks everything is okay (TCP connection is still open).
A socket error is only registered when data is sent from ZNP (zigbee2mqtt -> tcp -> CCXXX).

**S

[2019-12-20 22:56] alex04103 commented on #81
Just wanted to report that I had a range issue and the bulb with this issue was not automatically using the repeater, which has better signal strength, but stayed connected to the coordinator.

I modified the `zStackAdapter.ts` as follows and pairing to the repeater then was successful without any issue:

[code]

[2019-12-21 13:31] TheNetStriker opened #113 "Feature request to take over an existing network of Zigbee devices."
I have an existing network of 32 Zigbee devices and I don't wanted to re-pair all of the devices because I'm testing different coodinators and also different controller software to find the one combination that works the best for my network. So I looked for a way to take over existing Zigbee devices to the zigbee2mqtt database and I found a simple solution for this.

I simply made the following ch

[2019-12-21 15:13] yayiblue commented on #89
Hello!
I am using zigbee2mqtt too well.
Thank you for always.

I have no power value for PM-C140-ZB.
I repeated this result about 10 times.

1. The power status does not rise.
2. Sometimes the item itself is missing (same as djchen)
3. This works fine with zigbee2mqtt 1.5.1.
4.zigbee2mqtt 1.5.1-> migration-> zigbee2mqtt 1.7.1 (or 1.8.0)
     Only migrated equipment will reflect power status,
    N

[2019-12-22 13:18] jdtsmith commented on #60
What's the status of your OTA branch @tb-killa?  The Deconz folks have OTA working for a variety of devices.

[2019-12-22 13:40] #73 closed

[2019-12-22 17:32] timdonovanuk commented on #113
I'm about to upgrade to a CC1352P-2 and the thought of having to repair everything is puttinbg me off doing it! Are you telling me with this modification, devices will just rejoin the network but with a new coordinator? How does this work for other devices (not lamps/bulbs) like temperature probes, buttons, door sensors etc?

[2019-12-22 19:09] TheNetStriker commented on #113
@timdonovanuk Yes that' how it worked when I upgraded to the CC1352P-2. As far as I know the only difference when pairing a device is that the network key is exchanged with the device. The coordinator itself does not have a list of paired devices. So when the Zigbee device already has the correct network key re-pairing a device should not be necessary.

Sadly I only have light bulbs, but I guess t

[2019-12-23 21:52] #76 closed

[2019-12-23 22:10] TheNetStriker commented on #22
@Koenkk I've just tried to test this but I've got the following compilation error:

[code]

I've tried it with the release and master branch but always got those errors. What am I doing wrong?

[2019-12-25 08:10] andreasbrett commented on #60
If you need a tester, just let me know.

[2019-12-25 19:13] #32 closed

[2019-12-25 23:21] unityhd commented on #60
I also offer myself as a tester.
I have a CC2351 stick and some ZigBee devices from Ledvance/Osram, Xiaomi, Aqara etc.

[2019-12-26 07:00] qlwz opened #116 "Whether to support TCP server mode"
Now it is in TCP client mode. If the coordinator restarts and cannot connect automatically, it will stop the service at the same time.
=======
现在是tcp客户端模式，如果协调器重启不能自动连接，同时会停止服务。

[2019-12-26 21:03] Koenkk commented on #22
@TheNetStriker can you share the sniffer logs?

[2019-12-26 21:43] Koenkk commented on #112
Added a keep alive timeout of 15 seconds, thanks!

[2019-12-26 21:43] #112 closed

[2019-12-26 22:02] TheNetStriker commented on #22
@Koenkk No problem, I've uploaded a capture file from the SmartRF Packet Sniffer to my Dropbox: https://www.dropbox.com/s/i0o42ibaelqim3a/HueTap.psd?dl=0

There are three packets for every button press. I pressed every button on the Hue tap, so there are 12 packets captured.

[2019-12-29 17:17] dede34fr commented on #113
Were do u find this controller.js file please?
And is there any comment from the zigbee2mqtt dev team about this solution?

[2019-12-30 09:02] TheNetStriker commented on #113
@dede34fr You can find the file in the subdirectory "node_modules/zigbee-herdsman/dist/controller".

There is no comment from the dev team yet.

@Koenkk Can you please take a look at this? This could be very helpful.

[2019-12-31 11:19] turboproc opened #118 "Pairing of Philips HUE bulbs not possible (temp fix provided)"
Having done a factory reset of a Philips HUE bulb, the bulb refused to be paired. enabling the debug level and after adding some additional output it appeared that the pairing process failed due to timeout in the following code snippet in controller/model/device.tc

            for (const chunk of ArraySplitChunks(Object.keys(Device.ReportablePropertiesMapping), 3)) {
                const result

[2019-12-31 20:55] atxbyea commented on #60
I too can test if needed, CC1352P-2 and Tradfri, hue, Xiaomi, gledopto here

[2020-01-01 10:44] #67 closed

[2020-01-01 11:36] Koenkk commented on #22
@TheNetStriker sorry but could you please sniff with wireshark? https://www.zigbee2mqtt.io/how_tos/how_to_sniff_zigbee_traffic.html

[2020-01-02 03:48] #116 closed

[2020-01-02 12:39] TheNetStriker commented on #22
@Koenkk I've just uploaded the Wireshark capture here: https://www.dropbox.com/s/pk1jt5h5yvtkb36/HueTap.pcapng?dl=0

I could not register for the ZBOSS software because I didn't get the activation e-mail, so I created a capture using the [zsmartsystems sniffer](https://github.com/zsmartsystems/com.zsmartsystems.zigbee.sniffer). I hope this also works for you.

[2020-01-03 08:20] dbruggner commented on #60
Ledvance/Osram has a REST API to download firmware info and firmware files: https://portal.update.ledvance.com/docs/services/firmware-rest-api/operations/5d8e482edb442c3151c64fae

[2020-01-04 14:28] Arzachena opened #120 "Can't open serial port on Windows 10"
I'm running node-red on Windows 10. The node is node-red-contrib-zigbee (controller) which uses zigbee-herdsman. I have a Conbee II on port COM3.
When I run node-red I get:
 "4 Jan 15:08:54 - [info] [zigbee-shepherd:zigbee herdsman] connecting COM3 undefined"
followed by:
"4 Jan 15:09:11 - [error] [zigbee-shepherd:zigbee herdsman] Error while opening serialport 'Error: Opening COM3: Access denied'

[2020-01-05 01:28] Koenkk commented on #113
This workaround might indeed work for most devices, when starting your new coordinator you have to make sure all zigbee devices are powered down (it should not find an existing network). I think this can already be done without any code changes by making a backup of database.db, start and stop zigbee2mqtt with the new coordinator, restore database.db and start again

[2020-01-05 01:41] Koenkk commented on #120
Conbee is not supported, only TI cc devices.

[2020-01-05 01:41] #120 closed

[2020-01-05 16:02] BuhtigithuB commented on #72
Should this one be closed if Conbee/deconz is supported now as suggested by your answer... Sorry I have been and out of domotic and try to make progress on free time so I have been poking you on this topic here and there, sorry about that... Difficult to keep up will all the fork redirect I fall on and understand where the train is going exactly... :D

[2020-01-05 17:09] Phanzar commented on #89
I'am also having the same issue with the edp re:dy plugs.

Zigbee2mqtt 1.6 is able to correctly activate the reporting of the instantaneous power from the plugs, but on the newer versions (1.7.1 and 1.8) this doesn't work, new plugs added don't report the instantaneous power, only the ones added on version 1.6 are working.

[2020-01-06 20:38] Koenkk commented on #118
It works fine for me and many others, is this the root issue: https://github.com/Koenkk/zigbee2mqtt/issues/2624#issuecomment-569738558 ?

[2020-01-06 20:56] turboproc commented on #118
Well, to be honest I was expecting it would be working with others without issues otherwise it would have been noticed (and solved) before. At the same time it didn't in my case. I would have to go through the pairing process again to check whether it's related to the above issue. Let's close the issue for now.

[2020-01-06 20:56] #118 closed

[2020-01-07 13:04] #26 closed

[2020-01-07 19:02] Koenkk commented on #22
@TheNetStriker do you also have a hue bulb in range of the hue tap? Can you provide the sniffer logs when starting with:

https://github.com/Koenkk/zigbee-herdsman/issues/22#issuecomment-554522559

[2020-01-07 19:07] Koenkk commented on #89
I found the root cause of this issue, when updating to the latest dev you should see the zigbee2mqtt configures the device (Succesfully configured [FRIENDLY_NAME]), after this it should work.

[2020-01-07 19:22] TheNetStriker commented on #22
@Koenkk Yes I only have Hue bulbs in my network. (32 in total) there should be lots of lamps in range.

What exactly do you mean? Do you need sniffer logs when resetting the Hue Tap or do you need all packets from my network including the Hue Tap ones? If you need all packets there would be a lot of them because the high amount of lamps in my network.

[2020-01-07 19:29] #97 closed

[2020-01-07 21:26] anthonynichols opened #121 "[Request] Include type definitions"
First of all, thank you for the work on this library. I was considering picking and continuing work on the previously stale/abandoned libraries that influenced this one myself, so it is great to see active development from others in the community. Secondly, thank you for using Typescript! As a fellow Typescript user, I was glad to see `.ts` files in the `src` directory.

Could you generate type de

[2020-01-07 21:39] markuspf opened #122 "How to respond to `timeStatus` requests?"
I have a device (https://github.com/Koenkk/zigbee2mqtt/issues/2648) that I am trying to hack up support for.

I asks for `timeStatus" in the `genTime` cluster. There is already a response to `time`, and I tried hacking in a response to `timeStatus` by extending the code for `time`.

I don't seem to be doing it right, as it doesn't seem the device is satisfied with the answer (and I can't really ve

[2020-01-08 18:26] Koenkk commented on #122
You can respond to it here: https://github.com/Koenkk/zigbee-herdsman/blob/master/src/controller/controller.ts#L509 and very if using sniffing https://www.zigbee2mqtt.io/how_tos/how_to_sniff_zigbee_traffic.html

[2020-01-08 18:32] Koenkk commented on #22
I need the logs when resetting the hue tap including other devices (because an other device, e.g bulb commissions it into the network), perhaps you can setup a separate environment for this.

[2020-01-08 18:33] Koenkk commented on #121
@anthonynichols I haven't looked into this but I don't know how to do it, probably you have more experience and can do this faster, could you make a pr?

[2020-01-09 09:02] TheNetStriker commented on #22
@Koenkk I have a second Zigbee usb stick. I could make a separate network for testing the Hue Smart Switch.

But does the Smart Switch really require such a commission into the network? As far as I know the Smart Switch just sends out a broadcast on the channel and every Zigbee controller can receive this broadcast, but the switch is not able to receive anything because of the limited amount of en

[2020-01-09 19:08] anthonynichols commented on #121
Sure, I'd be happy to. PR incoming...

[2020-01-09 20:24] anthonynichols commented on #121
https://github.com/Koenkk/zigbee-herdsman/pull/123

[2020-01-09 20:25] #83 closed

[2020-01-09 21:02] #121 closed

[2020-01-10 20:10] markuspf commented on #122
Ok, maybe lets first find out whether I am doing the code bit correctly, as that place is exactly where I was trying to respond before;

I added:

[code]

In particular I am not sure what the structure of the response object passed to `readResponse` is supposed to be.

[2020-01-11 14:38] Koenkk commented on #22
@TheNetStriker

Due to energy limitations, the message size of a Hue tap (= Green power device) are much smaller. This protocol is called green power. Normal zigbee devices don't understand this protocol, therefore you need to have a green power proxy (e.g. a Hue bulb) which translates a green power message to a normal zigbee message so that other devices on the network can understand it. But befo

[2020-01-11 18:39] oepoemoepoe commented on #22
@Koenkk  I only have one CC2531, so I cannot sniff at the same time. However, I can offer you to sniff my Hue system with the Hue Tap.

On the theoretical side: I do not have a single Hue-bulb, but a lot of other devices (OSRAM Smart Plug, Paul Neuhaus lights etc) and still I can use the Hue Tap in my hue network. So why do we need a hue bulb to commission it?

[2020-01-12 08:25] jarrah31 commented on #113
I have a large 54 device network with a need to add more. I’m having stability issues and so would also like to upgrade to a CC1352-2, but as @timdonovanuk says, repairing puts me off. I would be very interested to hear if anyone with xiaomi door, motion, temp devices can swap to this new coordinator without repairing, and what steps you took please.

[2020-01-12 10:23] dede34fr commented on #113
I would love that too. Working with a CC2531 for dev/test but switching to production environment with CC1352P-2. Would like to secure and ease migration while still using both environments in parallel ideally.

[2020-01-13 15:22] TheNetStriker commented on #22
@Koenkk Thanks for the info. Do you know if the CC2531 would be able to receive such a green power message? Because as I said I sniffed the packets on a separate frequency where no devices are in range and I was able to sniff packages from the Hue Tap.

Also how would this comissioning into the network work exactly? Do I have to put the coordinator into pairing mode or is this something the Hue bu

[2020-01-13 17:59] twsI commented on #60
Is there any way I can help or contribute?

[2020-01-13 19:57] Koenkk commented on #122
It should be

[code]

[2020-01-14 16:21] oepoemoepoe commented on #22
To my understanding, you just need to have a Hue bulb in the same network with which you want to pair the Hue Tap with. Then zigbee2mqtt should do something (at least print out) when you try to pair it.
This can in the future be done without a Hue bulb, wherefore a firmware upgrade of the CC2531 is necessary however. For now Koenkk wants us to test without.
And of course the coordinator must be in

[2020-01-15 12:07] Koenkk commented on #22
Maybe in the future the CC can act as a proxy, however for now this is not possible with the TI firmware: https://e2e.ti.com/support/wireless-connectivity/zigbee-and-thread/f/158/t/856997

[2020-01-16 19:10] kirovilya opened #127 "New Livolo switch and malformed packet"
I try to use new Livolo switch https://aliexpress.ru/item/4000385782177.html

Wireshark log [livolo_switch.zip](https://github.com/Koenkk/zigbee-herdsman/files/4073227/livolo_switch.zip)

But in log I see malformed packet when Livolo Gateway send command to turn switch on/off.
I try to repeat this action in converters:
[code]
And got result logs [livolo_switch_herdsman.zip](https://github.com/Koen

[2020-01-16 19:18] kirovilya commented on #127
I can’t choose the type of value to send an array of zeros

[2020-01-17 13:26] Koenkk commented on #127
What is the ID in wireshark of the on off command?

[2020-01-17 13:48] kirovilya commented on #127
![image](https://user-images.githubusercontent.com/8360230/72617009-2424aa80-3949-11ea-82bc-695b6929f51a.png)
![image](https://user-images.githubusercontent.com/8360230/72617022-2850c800-3949-11ea-902f-d5398976a863.png)

401 and down...
425, 448, 498

[2020-01-17 13:59] TheNetStriker commented on #22
@Koenkk I've just tried this and now it worked! I got the following output in the console while comissioning the Hue Tap:

,"maintrel":1,"revision":20191106}},"log_level":"debug","permit_join":false}'
{
  options: 0,
  srcID: 4223047,
  frameCounter: 186,
  commandID: 224,
  payloadSize: 27,
  commandFrame: {
    deviceID: 2,
    options: 129,
    extendedOptions: 242,
    securityKey: hidden,

[2020-01-17 16:53] Koenkk commented on #118
It actually seems to solve some issues, see https://github.com/Koenkk/zigbee2mqtt/issues/2759#issuecomment-575682168.   Will integrate ths

[2020-01-17 20:22] Koenkk commented on #127
I've created an example for the on and off: https://github.com/Koenkk/zigbee-herdsman/commit/dec27ed0b027671167d49b134945b4830bfbea24#diff-8158e442a03e3ab9574aeb1a2259d330R609 (requires latest herdsman)

so this would translate to:

[code]

[2020-01-18 06:37] kirovilya commented on #127
Thank you, I will try it tomorrow

[2020-01-19 01:24] CodeFinder2 commented on #60
Would also love to see this feature and glad to help testing (Bitron, OSRAM/Ledvance, Xiaomi/Aqara/Mija, Konke, Philips, Heimann, Ikea, ...) 🙈

[2020-01-19 08:25] HA-TB303 commented on #113
Same for me. I got the cc1352p but I was mostly unable to repair my ikea bulbs.

I have another 23 sensors and the need to re-pair puts me off also.

In stead of adding new features propper and easy migration should get higher priority in my opinion.

[2020-01-19 14:42] oepoemoepoe commented on #22
@Koenkk Since it seems that firmware modification is too complex, do you think it will ever be supported?
Also, do you know whether the Hue Smart Plug can act as a proxy, too?

[2020-01-19 18:24] kirovilya commented on #127
It is better now, but
![image](https://user-images.githubusercontent.com/8360230/72685992-e10d3780-3b00-11ea-83c0-faf82d1796ac.png)
frame header not equal...
switch not toggle :(
[livolo_switch_herdsman2.zip](https://github.com/Koenkk/zigbee-herdsman/files/4083105/livolo_switch_herdsman2.zip)

[2020-01-20 13:50] Koenkk commented on #127
Can you change https://github.com/Koenkk/zigbee-herdsman/blob/master/src/controller/model/endpoint.ts#L188 `Zcl.Direction.CLIENT_TO_SERVER` to `Zcl.Direction.SERVER_TO_CLIENT`, if this works I will provide a proper solution to pass it.

[2020-01-20 18:00] kirovilya commented on #127
I've done everything. Now even the leading bits match. But switching does not work ... :(
Livolo may have done something tricky at the pairing stage that the device does not accept commands...
[livolo_switch_herdsman3.zip](https://github.com/Koenkk/zigbee-herdsman/files/4087355/livolo_switch_herdsman3.zip)

[2020-01-20 18:02] kirovilya commented on #127
even reset the sequence numbers on the toggle command ...

[2020-01-20 19:29] Koenkk commented on #127
Strange, it's really annoying that Livolo doesn't respect the ZCL, this makes it very hard to integrate.

[2020-01-21 11:59] Koenkk commented on #22
@oepoemoepoe I really depends on Texas Instruments (I'm at least not going to develop this).

@TheNetStriker good to see, I'm going to buy another green power device as I think the security key required for commissioning differs per device (and I'm not sure how to handle this yet).

[2020-01-21 14:26] TheNetStriker commented on #22
@Koenkk I have several Hue Tap switches and I just wanted to test this, but for some reason the console output doesn't work anymore. On startup I also get the MQTT publish: topic 'zigbee2mqtt/bridge/config' log with "permit_join":false even though I've enabled this value. Any idea what could cause this?

[2020-01-21 19:42] sjorge commented on #122
I think this is supported now?

[2020-01-21 19:44] sjorge commented on #127
So I guess the Livolo devices are also not zigbee certified?

[2020-01-21 20:05] Koenkk commented on #122
Yes

[2020-01-21 20:05] #122 closed

[2020-01-21 20:07] Koenkk commented on #127
@sjorge definitely not, in terms of zigbee compliance, these are the worst devices I've ever seen.

[2020-01-21 21:15] osos commented on #72
Any news, expected timeline ?

Looking forward to test this out

[2020-01-22 00:08] twsI commented on #60
@Koenkk if you'd start with the general architecture, I could implement the code for certain vendors. Got Xiaomi, OSRAM, Ikea for testing as well

[2020-01-22 11:04] Koenkk commented on #22
Im not sure perhaps the debug logging can give some insight

[2020-01-22 11:04] Koenkk commented on #60
@twsI good idea, will let you know here once its available.

[2020-01-22 16:18] #91 closed

[2020-01-23 17:51] kirovilya opened #129 "Sticks with old firmware not starting"
https://pastebin.com/mxmPbVfT

Old firmware (before the https://github.com/Koenkk/Z-Stack-firmware builds) did not contain version information and possibly some other parameters. As a result, an exception is thrown at startup.

I would like to get around this exception (without flashing) for a successful start, since there are such users too.

[2020-01-23 18:37] TheNetStriker commented on #22
@Koenkk I get the following error when starting the greenpower version:

[code]

I also deleted the database and all groups, but the error is still there. Could this be the cause that this doesn't work anymore?

[2020-01-23 19:10] Koenkk commented on #129
fixed

[2020-01-23 19:10] #129 closed

[2020-01-24 11:10] #94 closed

[2020-01-26 01:01] #95 closed

[2020-01-27 08:23] kirovilya opened #132 "Aqara Opple Switch support ( Model WXCJKG12LM ) new cluster"
new cluster 0xfcc0 for change working mode
![image](https://user-images.githubusercontent.com/8360230/73158962-6c388f80-40f6-11ea-99be-5cb3e0c54d4f.png)
now we can get all actions of all buttons

[2020-01-27 11:59] kirovilya commented on #132
But when we change mode - we lost binding functional :(

[2020-01-27 20:51] Koenkk commented on #132
Merged your pr, thanks!

[2020-01-27 20:51] #132 closed

[2020-01-28 17:15] #96 closed

[2020-01-31 07:28] kirovilya opened #134 "Reflections on the interview process"
In the new herdsman, the interview process began to interrupt very often. In the previous (shepherd) version, there was no such thing, but there were other problems.

I think we need to do a renewable interview.
1. After a successful announcement, the device is already in network and online.
2. Now we need to read the model, manufacturer and type. This is enough to identify the device in the conve

[2020-01-31 09:24] Koenkk commented on #134
Can you provide the logs of this?

What does it have to do with the interview procedure?

Note that we can only read the modelID, etc. **after** we know what endpoints the device has, so in my opinion the attributes can only be read after retrieving the descriptor and active endpoints.

What would be the advantage of having this in `configure`? I think it's actually handy to have it in herdsman as

[2020-01-31 10:03] kirovilya commented on #134
No, I see this on emerging issues.

Hmm. You agree, yes, I forgot that we must first find out at least one endpoint from which to read the model ... :(

sometimes it seems to me that this can not be applied to some devices, or can be delayed or optional, like "configure".
those, even without this block, we can assume that the interview has passed

[2020-01-31 10:55] Koenkk commented on #134
I think we should investigate per issue were it goes wrong in the interview procedure and how it can be fixed (I already fixed several of these issues last weeks).

[2020-02-05 10:53] #134 closed

[2020-02-06 07:12] kirovilya commented on #104
This task is important for all sleeping devices

[2020-02-06 07:48] Koenkk commented on #104
I think before sending these commands you manually have to wake them up. In zigbee2mqtt it is now possible to trigger a configure manually: https://www.zigbee2mqtt.io/information/mqtt_topics_and_message_structure.html#zigbee2mqttbridgeconfigure

[2020-02-06 07:56] kirovilya commented on #104
Yes. but we can also receive the nearest message from the device and send them a command in the hope that it has not had time to fall asleep yet. also as we do with the 'configure'.

I think this should be done for all the commands that we send to devices.

[2020-02-06 10:01] Koenkk commented on #104
Wouldn't it be unhandy when a user executes a bind but only e.g. after an hour the bind is executed?

[2020-02-06 10:37] kirovilya commented on #104
I do not know. for example, we do this configure and it also performs a bind inside...

[2020-02-06 10:55] svh1985 commented on #60
OTA getting more important:
_Signify confirmed the existence of the vulnerability in their product, and issued a patched firmware version (Firmware 1935144040) which is now available on their site. We recommend users to make sure that their product received the automatic update of this firmware version._

Full article:
https://blog.checkpoint.com/2020/02/05/the-dark-side-of-smart-lighting-check-po

[2020-02-07 20:19] oepoemoepoe commented on #22
I have a Hue Plug now which acts as a proxy and I can confirm what @TheNetStriker is saying. I get this output when trying to pair:

`  zigbee-herdsman:adapter:zStack:znp:AREQ <-- AF - incomingMsg - {"groupid":0,"clusterid":33,"srcaddr":64695,"srcendpoint":242,"dstendpoint":242,"wasbroadcast":1,"linkquality":141,"securityuse":0,"timestamp":14191052,"transseqnumber":0,"len":22,"data":{"type":"Buffe

[2020-02-07 20:52] lwfitzgerald commented on #60
I went looking for the OTA firmwares for Salus devices this evening and after sniffing the traffic from their iOS app, I found them :)

https://eu.salusconnect.io/demo/default/status/firmware?timestamp=0.

[2020-02-08 00:00] Koenkk commented on #60
First OTA update with zigbee-herdsman/zigbee2mqtt is a fact!

![image](https://user-images.githubusercontent.com/2892853/74074435-4a9ca980-4a0e-11ea-864b-a07f9100348e.png)

Before: `"dateCode":"20170315","swBuildId":"1.3.002"`
After: `"dateCode":"20180410","swBuildId":"1.3.002"`

[2020-02-08 00:39] CodeFinder2 commented on #60
Is it a good idea to collect and upload (the most recent) firmware images somewhere? Maybe even collecting (links to) them on the appropriate wiki device pages, perhaps with a hint like 'tested'? 🙈

[2020-02-08 01:18] CodeFinder2 commented on #60
Uhh, that's great! ☺️👌

In general, will it be difficult to port this to other vendors like OSRAM or Xiaomi?

[2020-02-08 01:51] PedroLamas commented on #60
I have a couple of Tradfri start plugs that will certainly make use of this feature!

[2020-02-08 07:04] timstanley1985 commented on #60
Great work @Koenkk !  Can I suggest that a log messages at a lower level is added to say the end point has received an update.  E.g. Warning: {friendly_name} firmware update successfully completed.

[2020-02-08 08:06] kiall commented on #60
What about for other brands who aren't so "open" with their firmware URLs? E.g. Philips firmwares are occasionally discovered and linked to, but there's no known equivalent to IKEAs version_info.json to base the discovery off.

[2020-02-08 08:18] Koenkk commented on #60
@kiall then we should make the version info ourselves

[2020-02-08 14:06] lorek123 commented on #60
About the automatic updates: what will happen if we cut off the power during OTA update? If we risk bricking device then we should consider creating manual update procedure.

[2020-02-08 14:10] andreasbrett commented on #60
I'd also say automatic updates should not be on by default. Users need to be able to control how and when their devices get updated. Also for automatic updates there should be some kind of time frame as devices are unavailable during the update which takes some minutes. It's the perfect situation where you might assume you're lights have crashed as they're irresponsive and then you power-toggle th

[2020-02-08 16:26] sjorge commented on #60
@Koenkk so for the manufacturer publishing something online we need to write a specific extension to take care of those right? At least from the code it looks like you added a special one for tradfri

So fallback that will try to parse a local dir with files that are manuId_devId.bin or something could work for those were we only sporadically get binaries for?

Form the looks of it, not super hard

[2020-02-08 17:42] Kryzek commented on #60
Holy moly! No need to plug Trådfri gateway into network anymore to get latest firmwares. Huge kudos @Koenkk!

[2020-02-08 19:11] Koenkk commented on #60
Implemented, let's continue here: https://github.com/Koenkk/zigbee2mqtt/issues/2921

[2020-02-08 19:11] #60 closed

[2020-02-10 03:15] #54 closed

[2020-02-10 18:30] ginkel opened #136 "Possible routing issue(?): Timeout - 57587 - 1 - 246 - 513 - 4 after 10000ms"
Hi there,

I've got a Zigbee network with the following components:

* Z2M 1.10.0
* CC2531 w/ the default 1.2 20190619 firmware
* serveral SPZB0001
* two innr SP120
* various Xiaomi sensors
* various Tradfri bulbs
* one Tradfri repeater

Today, one SPZB0001 (0xE0F3) became unreachable. It still periodically sends data requests to what it considers its parent (a Tradfri bulb 0x63B), but never gets

[2020-02-11 12:17] Koenkk commented on #136
This is indeed a bug in the zStack firmware when source routing is enabled, see https://github.com/Koenkk/zigbee2mqtt/issues/1408 (unfortunately we cannot fix this).

As a workaround you can use the default firmware (which doesn't has source routing).

[2020-02-11 12:46] ginkel commented on #136
The interesting thing is that I am not using the source routing firmware, but the default one (at least I wasn't when the problem happened, I experimentally switched afterwards).

Apart from that: If I may ask, why do you think this cannot be fixed?

[2020-02-12 15:24] Koenkk commented on #136
It's interesting if this also happens with the default one, can you share the wireshark log when trying that? Do you see a `Source route failure` message in that case?

[2020-02-12 20:30] ginkel commented on #136
I do not even see a route request for 0xE0F3, so the coordinator was probably completely unaware that something may be wrong with the route (except for the timeouts). I can share the pcap, but would prefer to do this privately (along with the required key).

[2020-02-13 07:40] Koenkk commented on #136
You can contact me on telegram (@koenkk)

[2020-02-13 13:55] jimtng commented on #113
@Koenkk did you mean that the 3 additional lines aren't needed if we renamed database.db, start, stop, and rename back?

[2020-02-13 20:20] Koenkk commented on #113
yes

[2020-02-15 22:33] ginkel commented on #136
Done.

[2020-02-15 22:46] sjorge commented on #65
Unstale, I think this would definitely be useful.

[2020-02-16 05:57] kirovilya commented on #81
Done https://github.com/Koenkk/zigbee-herdsman/commit/0015e9cbb1056e90937e75701c7d5d1bdbc7fc93

Thank you

[2020-02-16 05:57] #81 closed

[2020-02-16 23:43] qm3ster commented on #81
Isn't this https://github.com/Koenkk/zigbee-herdsman/commit/0015e9cbb1056e90937e75701c7d5d1bdbc7fc93

[2020-02-19 20:49] Koenkk commented on #136
Fix is available in the latest dev branch.

After a timeout it will now do a route request and retry the command.

[2020-02-20 06:07] ristoavila opened #137 "Feature request: Logging levels"
Would be nice to have logging levels similar to zigbee2mqtt or feature specific e.g.
ota_update
pairing
routing

With large networks at least I get lot's of messages and it annoying to trying to find out when the pairing starts and when its done if its done or if it even started.

These values also should be somehow set through the zigbee2mqtt by using mqtt message. Having an env variable to be se

[2020-02-21 20:23] twsI opened #138 "Cannot add Innr plug SP-120 to network"
I just bought a [Innr SP-120](https://www.zigbee2mqtt.io/devices/SP_120.html), which should be supported, thinking it was just an other plug and play object. But I can't manage to attach it to the network! There is simply no log whatsoever. Has anyone managed to do so without the proprietary gateway? If so, how did you do it?
The [manual](http://www.innrlighting.com/clients/innr/themes/uploads/153

[2020-02-21 21:57] #108 closed

[2020-02-21 21:57] Hypnos3 commented on #138
The search mode is the join enabled mode of zigbee-herdsman.

For me the Innr SP-120 are working and CC2531 USB stick with Z-Stack 1.2 (default and source_routing) without any problem.

I only had to join them again last weekend and no problem. To get them joined several attempts (1-3) are necessary. Compared to Osram Plugs, that's great (there I hab one plug needed 8 attempts).

If the plug was j

[2020-02-22 00:52] twsI commented on #138
Alright, thats weird. Join was of course enabled and the plug was roughly 1m away from my CC2531, but I'll try moving it closer. My Osram plugs were by far less complicated...

[2020-02-22 01:30] twsI commented on #138
Grabbing an extension cord and moving the plug to the coordinator yielded the following log. Any further suggestions?
[code]

[2020-02-22 11:23] twsI commented on #138
I don't know if there error above was expected, but after a dozen retries, I finally managed to pair them. For everyone else with the same problem: move them as close as possible and keep trying.

[2020-02-22 11:23] #138 closed

[2020-02-22 21:49] sjorge commented on #137
I think 'categories' is a better name for the things you listed, they could be supplemental to the log levels we currently have.

[2020-02-22 23:59] asdftemp commented on #72
[This](https://github.com/Koenkk/zigbee-herdsman/issues/72) popt up on my feed

[2020-02-23 18:48] dzungpv commented on #136
@Koenkk i try the dev but problem still the same. In my network there is all end device and only 1 router, it is xiaomi lock (it running on battery and no device will connect through it as my test) and treat as end device here https://github.com/Koenkk/zigbee2mqtt/pull/1764, but to still show 205 error frequently. There is no way to solve the problem unless reset the end devices

[2020-02-23 19:28] Koenkk commented on #136
@dzungpv can you share a bit more information of your step? Firmware version, adapter hardware, list of devices in the network.

[2020-02-23 19:55] Koenkk opened #141 "Re-execute certain commands when coordinator ieeeAddr changes"
https://github.com/Koenkk/zigbee2mqtt/issues/2987#issuecomment-590081385

Some commands contain `ieeeAddr` information. In case the `ieeeAddr` changes these commands should be executed again with the new `ieeeAddr`.

Currently I can think of the following commands:
- Binds
- iAS enrolment

[2020-02-24 04:32] dzungpv commented on #136
@Koenkk it is CC1352P_2_20191106 firmware, end device are **10** [DNCKATSW001 ](https://www.zigbee2mqtt.io/devices/DNCKATSW001.html)  base on TI sample light Zigbee HA 1.2, **1** Aqara lock ZNMS12LM (show as router in the log and map).
 I also try enable child aging but it is the same.
So i guest with new zigbee-herdsman code here https://github.com/Koenkk/zigbee2mqtt/pull/1764 not affect anymore?

[2020-02-24 12:21] Koenkk commented on #136
@dzungpv could you sniff the network traffic of this? https://www.zigbee2mqtt.io/how_tos/how_to_sniff_zigbee_traffic.html

[2020-02-24 12:32] dzungpv commented on #136
@Koenkk I have capture it but not save, i will retry when it occur again. When it happen coordinator send Route Discovery request.

[2020-02-24 12:48] Kryzek commented on #141
I think this is kind of related/dependant to this https://github.com/Koenkk/zigbee-herdsman/issues/104

[2020-02-25 06:18] dzungpv commented on #136
@Koenkk i have found that it cause by my end device, that end device could send status to Coordinator but it not send data request frequently (it stop sending, for unknown reason), so Coordinator could not control it. I will send packet and log to your telegram for debug

[2020-02-25 21:13] ginkel commented on #136
Running dev with the fix included since last weekend. So far the issue hasn't surfaced again.

[2020-02-26 08:29] ex3ndr opened #143 "Lost all devices when changed CC2652R (same devboard)"
I replaced one devboard with CC2652R to the exactly same devboard with a same chip and instantly lost all devices.

There are new methods for some backups from device itself, do i need to do something beside keeping file specified in databasePath?

[2020-02-26 12:10] Koenkk commented on #143
You also need to have the `data/coordinator_backup.json`, zigbee2mqtt will automatically restore if that file is present.

[2020-02-28 19:09] #110 closed

[2020-03-02 19:14] CodeFinder2 commented on #104
I also think that this can cause weird behavior (and new Github issues 😅). Nonetheless I like the idea of a "command queue"...maybe we can add an (optional) flag to such commands that may be queued (meaning that the command should be queued if it cannot be executed right away)? And the default behavior would be the current one. But I guess we then also need some way to inspect (/clear) the current

[2020-03-03 12:28] Hedda commented on #72
New reddit post says that Dresden Elektronik estimated that support will be ready mid-March 2020

https://www.reddit.com/r/homeassistant/comments/f8v81p/conbee_2_support_for_zigbee2mqtt_confirmed/

https://imgur.com/a/Tda0JJO

I wonder if this will only work with the newer ConBee II (ConBee 2) adapter or if it will also work with the older first-generation ConBee and RaspBee adapters as well?

I k

[2020-03-03 13:19] manup commented on #72
It should work with ConBee I / II and RaspBee I / II since the protocol for all is the same. The difference is the device path:

* ConBee I   /dev/ttyUSBx
* ConBee II   /dev/ttyACMx
* RaspBee I / II /dev/ttyAMA0 or /dev/ttyS0

[2020-03-03 13:22] Gamester17 opened #150 "HAL (Hardware Abstraction Layer) to support Zigbee adapters from different manufacturers?"
This is feature request / general architecture design discussion as a follow-up to reading #72 which state that zigbee-herdsman will likely also gain support for deCONZ based adapters like the ConBee.

Summary: This is at its essence just a request for making it easier for new developers to add support for additional Zigbee coordinator hardware from different manufacturers that use other firmware.

[2020-03-03 13:25] Koenkk commented on #150
In order to add support for a new adapter the following interface has to be implemented: https://github.com/Koenkk/zigbee-herdsman/blob/master/src/adapter/adapter.ts

AFAIK this is not true, they just rewrote it based on the zigbee-herdsman code, herdsman = javascript, zigpy-cc = python

[2020-03-03 17:47] cheak1974 commented on #72
Is this also working on windows? I have a conbee II plugged into my windows PC which I use for testing. It is connected as COM3 in device manager. How can I use it with zigbee2mqtt?

[2020-03-05 13:02] ginkel commented on #113
Is my assumption correct that this won't work when switching from Zigbee 1.2 to 3.0?

[2020-03-05 13:25] Koenkk commented on #113
@ginkel it won't work, in case it does it's a hack and may cause problems later on.

[2020-03-08 16:17] svh1985 commented on #22
Would love to add my Hue Tap's, how can I help? I have a lot of HUE devices and some IKEA devices in my Zigbee network.

[2020-03-08 17:13] Koenkk commented on #22
I will soon buy some green power devices to continue on this.

[2020-03-08 19:23] arjankanis commented on #72
Is it possible to test the Conbee build using the deconz branch?

[2020-03-10 14:59] arteck opened #151 "i have a big timeout issue after merge"
https://github.com/Koenkk/zigbee-herdsman/commit/86e082392d456d1047cd05f193dd81a93a9b78f0

my hue bulbs and other devs are many timeouts with this version..
the parameter was too small
` "const DataConfirmTimeout = 3000;" `
and i set it to 6000..
thats ok... but i cant find it in new version...

[2020-03-10 18:47] Koenkk commented on #151
Data confirm timeout is this value (6000) https://github.com/Koenkk/zigbee-herdsman/blob/master/src/controller/model/endpoint.ts#L497 minus 1000.

[2020-03-11 07:48] mdhom commented on #22
I'm also very interested in that topic, i have a Senic Friends of Hue Smart Switch and could run some tests in case someone tells me what to do ;)

[2020-03-11 16:04] arteck commented on #151
the new .62 version is not better..sry

[2020-03-12 06:35] arteck commented on #151
other problem is also the he dimmer RWL021 lose the config/connection

[2020-03-12 15:30] Josov commented on #22
@Koenkk I could provide you with a sample green power switch of Enocean. Would this help?

Download link:
[https://www.enocean.com/en/products/enocean_modules_24ghz/ptm-216z/user-manual-pdf/](url)

[2020-03-12 19:02] Koenkk commented on #22
@Josov is this device compatible with the Hue bridge?

[2020-03-13 07:10] Josov commented on #22
@Koenkk I have several models a double rocker for HUE only and GENERIC Zigbee switches single and double rocker. The HUE switch is currently in The Netherlands. I propose to send you one of each.
(jos.oude.vrielink@gmail.com)

[2020-03-14 14:08] Koenkk commented on #72
This has now been integrated and is available in the latest zigbee2mqtt dev branch. Many thanks @ChrisHae !

Keep in mind that this is not ready for production yet.

It seems to start fine but unfortunately I couldn't pair any devices, nothing appeared in the log after resetting a device (tried with some Xiaomi plugs, sensors and an Innr bulb), log: https://pastebin.com/gBLANJHn

[2020-03-16 09:07] ChrisHae commented on #72
I will update this over time and try to eliminate bugs, improve performance and add features.
Please note that interPAN functions likte touchlink are not implemented yet.
Right now I investigate why no devices are joining any more. This already worked but now I no longer receive any deviceAnnounce events when a device is powered on or was reset.

[2020-03-16 12:10] ChrisHae commented on #72
@Koenkk It seems devices not joining is a fw problem. Please try FW version deCONZ_ConBeeII_0x264a0700.bin
http://deconz.dresden-elektronik.de/deconz-firmware/

[2020-03-16 18:15] manup commented on #72
Another thing to improve USB startup was found today by disabling Linux MTP probes and Network Manager messing with serial interface. This might be useful for the CC2531 too.

Source: https://github.com/dresden-elektronik/deconz-rest-plugin/issues/2419#issuecomment-599576512

MTP probes and Network Manager access for ConBee II can be disabled by following udev rules:

    cat /etc/udev/rules.d/69-

[2020-03-17 07:13] bwolleb commented on #72
@ChrisHae Thank you for your work on the ConBeeII support. I have a ConBeeII stick an I plan to use it with zigbee2mqtt. As mentioned, it starts correctly now on the `dev` branch but no device can join. Flashing the 0x264a0700 firmware didn't help for me.

[2020-03-17 07:50] arteck commented on #151
ok new info... I'm not alone with this problem and it's not only with hue ..
the last correct version is 0.12.57 what works stable.. no connection lost or similar...

switch to version > 0.12.57 .. after some time, some devices are not be reached.. the hue dimmer has no configure and flashes red led

i have here 40 Devices .. i tested CC2538+CC2592 and cc26x2r also .. same problem ..

[2020-03-17 10:07] Koenkk commented on #151
Did you also check 0.12.63 with the latest cc26x2r firmware? https://github.com/Koenkk/Z-Stack-firmware/blob/develop/coordinator/Z-Stack_3.x.0/bin/CC26X2R1_20200312.zip

[2020-03-17 13:30] ChrisHae commented on #72
I uploaded a fix to this problem to the deconz branch. In addition to the zdp permit join request there is now also a write parameter request that sets the permit join parameter. I created a pull request for the master branch. Then you can test if it works.

[2020-03-17 19:05] bwolleb commented on #72
I just tried zigbee2mqtt using the `deconz` branch of zigbee-herdsman and my device joined successfully!

[2020-03-17 19:08] Alex18081 commented on #72
Thanks for everyone involved! For me with iobroker, Conbee II has started and devices are also connected
![photo_2020-03-17_20-07-20](https://user-images.githubusercontent.com/20165670/76892409-fc8b8900-688a-11ea-8e2a-27cc90e1739b.jpg)

[2020-03-17 19:09] kirovilya commented on #72
@ChrisHae We successfully start the stick Conbee II based on zigbee-heardsman 0.12.64 in iobroker.zigbee. Thank you!

[2020-03-18 06:19] arteck commented on #151
what is different ?? to the last one ?? i have here >40 Devices and it's no fun to reconnect all

[2020-03-18 07:13] Koenkk commented on #151
Check of there is a coordinator_backup.json file in your data directory, if then yes

[2020-03-18 18:23] salopette commented on #72
Hi, do you have to flash the Conbee II or is it simply recognized automatically in the Zigbee2mqtt?

[2020-03-18 18:54] arteck commented on #151
yes i have... then reflash and check ...

[2020-03-18 19:22] Alex18081 commented on #72
Just plug it in. But I have the last firmware on it

[2020-03-18 19:27] salopette commented on #72
![sshot-2](https://user-images.githubusercontent.com/32480002/76999398-dc290080-6956-11ea-9bb3-1611b37af732.jpg)

[2020-03-18 19:37] Alex18081 commented on #72
Yes

[2020-03-19 11:27] Nailik commented on #72
Not working for me yet.
I have HomeAssistant setup on Docker and use the addon (https://github.com/danielwelch/hassio-zigbee2mqtt/blob/master/CHANGELOG.md)

Stacktrace:

`zigbee2mqtt:info  2020-03-19 12:25:19: Logging to console and directory: '/share/zigbee2mqtt/log/2020-03-19.12-25-19' filename: log.txt
zigbee2mqtt:debug 2020-03-19 12:25:19: Removing old log directory '/share/zigbee2mqtt/log/202

[2020-03-19 12:27] Alex18081 commented on #72
maybe try port /dev/ttyACM0

[2020-03-19 12:31] arjankanis commented on #72
The same problem (/dev/ttyACM0) in combination with zigbee2mqtt and the conbee 2.

[2020-03-19 12:32] Nailik commented on #72
I already tried it, same issue. The deconz addon https://github.com/home-assistant/hassio-addons/tree/master/deconz works with /dev/ttyACM0

[2020-03-19 12:49] kelvin5290 commented on #72
i face the same issue and look like the debug log is not full print out. ref to the adapter.js, it will determine the device is zStack or deconz. Those log is missing. and it go to start zStack by default.

[2020-03-19 13:00] Koenkk commented on #72
The detection is not working indeed, is the hassio adon running as privileged? https://www.zigbee2mqtt.io/information/docker.html#parameters-explanation

[2020-03-19 13:26] kelvin5290 commented on #72
yes , the addon should run as privileged.

here with the log
![image](https://user-images.githubusercontent.com/28993672/77072095-20380600-6a28-11ea-853f-d246dac83443.png)

[2020-03-19 14:15] tafilz commented on #72
The  deconz adapter should also work with the RaspBee module. The auto detection works only with USB devices.

Can we have maybe a setting like this, so it's possible to set the adapter manually to use serial only devices like the RaspBee?
[code]

[2020-03-19 16:22] arteck commented on #151
So.. very nice..works perfect...big thx

[2020-03-19 18:03] Koenkk commented on #151
Good!

[2020-03-19 18:03] #151 closed

[2020-03-19 18:41] Koenkk commented on #72
@tafilz implemented, you can now specify the adapter like (https://github.com/Koenkk/zigbee2mqtt.io/blob/develop/docs/information/configuration.md#configuration)

[code]

Will be available in the latest hassio edge in +- 4 hours from now.

[2020-03-19 21:20] tafilz commented on #72
It seems to start now. But it doesnt seem to work right now

[code]

[2020-03-19 21:42] Koenkk commented on #72
A debug log would help indeed but this probably has to be fixed by @ChrisHae (as its inside the deconz adapter)

[2020-03-19 23:18] Nailik commented on #72
How could you run it? For me the addon always removes the adapter type.

[2020-03-19 23:19] tafilz commented on #72
I'm using the docker-compose approach @Nailik

[2020-03-20 08:48] ChrisHae commented on #72
@tafilz this really looks like a bug in deCONZ adapter. I will have a look. I didn't test it with RaspBee yet

[2020-03-22 11:27] muellererwin commented on #72
I have a ConBeeII.
I'll get this error, why is it not using adapter deconz? (see configuration.yaml futher down)

zigbee2mqtt:info  2020-03-22 11:21:32: Logging to console and directory: '/app/data/log/2020-03-22.11-21-32' filename: log.txt
zigbee2mqtt:info  2020-03-22 11:21:32: Starting zigbee2mqtt version 1.12.0 (commit #840b9d9)
zigbee2mqtt:info  2020-03-22 11:21:32: Starting zigbee-herdsman...

[2020-03-22 12:41] msnelling commented on #72
@muellererwin  I was getting this error too until I added the following to my `docker-compose.yaml`
[code]
Node the `privileged: true` and the `/run/udev:/run/udev:ro` volume mapping.

[2020-03-22 12:45] tafilz commented on #72
I think the npm version doesn't have the setting yet.
Your version is running on commit 840b9d9 and the setting was intruduced with commit 6b9baf0.
Are you using the dev-branch of zigbee2mqtt? There is should work.

Also the ConBee stick should be able to get auto detected.

[2020-03-22 15:11] muellererwin commented on #72
@msnelling: Thanks for your tips. Up and running now!

[2020-03-23 12:21] ChrisHae commented on #72
I uploaded a fix for RaspBee. It now uses 16bit NWK addresses that will solve some problems. I think it will be available soon.

[2020-03-24 14:47] muellererwin commented on #72
My setup:
I am running zigbee2mqtt in a docker container on a raspberry pi.
WIth your help the interaction with a directly connected ConBeeII-USB-device worked.

Now I tried to have the ConBeeII on a remote raspberry pi published by ser2net and from a zigbee2mqtt docker to connect it via serial: adapter: deconz port: 'tcp://ip:port'.
This failed. Is this in general not possible with the current st

[2020-03-24 15:50] kelvin5290 commented on #72
Hi all, my conbee2 can successfully control the device, but after a day look like having some problems and I can’t control the device anymore.
The log:

[code]

[2020-03-24 19:55] arjankanis commented on #72
Same for me.  Crashes after a few hours of running. I'm using the latest Hass with zigbee2mqtt addon and Conbee II.

zigbee2mqtt:info  2020-03-24 20:47:44: MQTT publish: topic 'zigbee2mqtt/0x00158d00024ee1c8', payload '{"battery":100,"voltage":3015,"illuminance":8,"linkquality":50,"occupancy":false,"illuminance_lux":8}'
(node:234) UnhandledPromiseRejectionWarning: undefined
(node:234) UnhandledPro

[2020-03-24 20:24] OXOTH1K commented on #72
Not work for me with this options:

[code]

Log file:

[code]

[2020-03-24 20:28] arjankanis commented on #72
The addon from danielwelch isn't ready for the serial addition. The config.json must be modified to accept the serial addition. For now can try my fork of zigbee2mqtt-edge; https://github.com/arjankanis/hassio-zigbee2mqtt

[2020-03-24 20:29] gev commented on #151
@arteck did you solve the timeout problem? I have the same! Tested on 2531, 2530 and 2538.
during issue no one answer from any device in a network and about 30 seconds later all works as well

[2020-03-24 20:30] OXOTH1K commented on #72
I was already use this fork. Same trouble on it.

[2020-03-24 23:43] OXOTH1K commented on #72
Your addon was started, but not configured devices. For example Konke temperature sensor:

[code]

[2020-03-25 00:41] samtherecordman commented on #151
@arteck I'd also like to know how you solved the problem. My device, in-wall dimmer, works but continues to throw this timeout error message.

[2020-03-25 11:33] Nailik commented on #72
For me pairing worked.

Sometimes i have seen this error
[code]

And light dimming is not working at all. On and Off is working (On -> light goes 100% on) but dimming has no effekt. E.g when the Light is off and i set it to 5% i see mqtt says light on and 5% but it's not turning on. When i set the light to 0% it's going off.

[2020-03-25 14:14] samtherecordman commented on #151
@Koenkk Hi Koen, new user joining this great community. Thank you for your hard work!
Wonder if I should open a new issue for a similar timeout error in my setup.

[2020-03-26 13:54] ChrisHae commented on #72
ConBee II loses connection after some time is a known problem. I investigate it right now. Until now you have to restart zigbee2mqtt to make ConBeeII work again. Perhaps there is a Firmware update in the near future that will improve stability.

Then there is also this tweak that @manup posted some days ago that should also improve stability:

[2020-03-26 13:57] ChrisHae commented on #72
I will test this next. What Client/GUI are you using to control the lights ?

[2020-03-26 13:59] Nailik commented on #72
I am using HomeAssistant with the fork of the addon mentioned above (https://github.com/arjankanis/hassio-zigbee2mqtt)

In the MQtt logs the brightness looks good so i assume this is not a gui problem (or i hope)

[2020-03-27 18:51] Koenkk commented on #72
@ChrisHae I see that the waitFor method has not been implemented yet (https://github.com/Koenkk/zigbee-herdsman/blob/master/src/adapter/deconz/adapter/deconzAdapter.ts#L480). This is required for e.g. OTA updates. Could this be implemented? (original issue: https://github.com/Koenkk/zigbee2mqtt/issues/3210)

[2020-03-28 22:32] #127 closed

[2020-03-30 15:42] kelvin5290 commented on #72
HI all, may i know the channel of conbee ii is following the configuration.yaml or it is a constant

i am trying to sniff the packet but cannot sniff any packet on certain channel.

[2020-03-30 19:53] samtherecordman opened #160 "Support for Control4 dimmers"
In my home, I have a bunch of Control4 dimmer switches, but no Control4 hubs. From my research, it seems Control4 dimmers are based on Zigbee Pro protocols. I decided to tinker with these through Z2M, Node-red and CC2531 (coordinator).

I have not been able to have the dimmers join properly, device not supported and ModelID is not read during interview. Actually the interview fails for most of the

[2020-03-31 14:55] ChrisHae commented on #72
I uploaded a fix to for dimming and change the color of lights.
@Koenkk ok I will implement the waitFor function next.

[2020-03-31 15:16] ChrisHae commented on #72
@kelvin5290 yes it seems the configuration from configuration.yaml will not be written to the ConBee2 device. I will have a look and add this feature in the next few days.
If you are interested what the current channel is look for a zigbee2mqtt debug message right after you start zigbee2mqtt. It looks like this:
`zigbee2mqtt:debug 2020-03-31 17:02:04: Zigbee network parameters: "panID":49515,"exte

[2020-03-31 16:50] Koenkk commented on #160
- Does the interview always fail at `  zigbee-herdsman:controller:device:log Interview - failed for device '0x000fff000026bbe9' with error 'Error: AREQ - ZDO - simpleDescRsp after 10000ms` ?
- Regarding the timeout you might want to disableDefaultResponses for this device (example: https://github.com/Koenkk/zigbee-herdsman-converters/blob/a42193945e93abc1ce6e40e9190652a18a1a6dd9/devices.js#L2595)

[2020-04-01 06:02] kelvin5290 commented on #72
@ChrisHae Thank you for reply.
also, i face another issue. When i going to pairing a in wall switch. The configuration of reporting packet look like contain some problem. The below image shown the information. Thank you.
![image](https://user-images.githubusercontent.com/28993672/78104166-34650580-7421-11ea-8642-d0d5daac737d.png)

[2020-04-01 15:25] Nailik commented on #72
After half an hour or so this stopped to be working and my whole log was lines like:
[code]

[2020-04-02 14:21] samtherecordman commented on #160
- Yes, interview has failed for all dimmers at the same spot I believe, except for one dimmer which sometimes has success in finishing the interview process but without a modelID. I'm not familiar with the interview process, but I have removed two dimmers from the DB and re-paired them. The log is included here.  [interview_failed_two_dimmers_20200401.log](https://github.com/Koenkk/zigbee-herdsman

[2020-04-02 16:23] Koenkk commented on #160
- The device has 3 endpoints: `1,196,197`, for 1 simpleDescriptor is successfully retrieved, for 196 not. Replacing `node_modules/zigbee-herdsman/dist/controller/model/device.js` with https://gist.github.com/Koenkk/5178f686fc254807c7c0594f31dc4ccb should suppress the error.
- It means that they don't provide a ZCL default response (consult the ZCL specification for details about this)

[2020-04-03 15:50] samtherecordman commented on #160
Thank you for your support and feedback on this!

- I tried your suggestion, but I still get an error message during interview. I wasn't able to save the log as my pi had to be restarted for another reason. I will retry again today and report back. For this code, is it a simple file replace? I couldn't tell what has changed in the code.

- I was able to get state / status from the dimmers, it seem

[2020-04-03 16:55] Koenkk commented on #160
Yes just replace the file.

[2020-04-06 13:30] val-arg commented on #72
I'm also testing it with a ConBee II stick. I was able to connect an Aqara Switch yesterday, but today it stopped working.

I had applied udev rules in advance.

[2020-04-06 17:56] samtherecordman commented on #160
Sorry for the delay, here is the interview failed log for two of the dimmers. I believe it still failed to retrieve descriptors.
To test this, I stopped z2m, removed the dimmers entries from DB file, Reset the dimmers, then initiated announce/pairing on the dimmers. attached is the log. Let me know if the testing procedure was sufficient.
[interview_failed_dimmers_20200406.log](https://github.com/

[2020-04-06 19:43] Koenkk commented on #160
The issue is that this device defines no `modelID` therefore interview cannot be completed. A workaround is to set this in `database.db` manually.

[2020-04-07 01:23] samtherecordman commented on #160
It's possible Control4 deliberately hides the modelID, so typical zigbee hubs cannot pair with their devices. You mentioned there are three endpoints, is there a way to check for modelID in the other endpoints?

[2020-04-07 18:19] Koenkk commented on #22
Thanks to @Josov I've got an initial implementation.

Demo:
- Hue Tap https://www.youtube.com/watch?v=7DsGrAfxjG0
- Niko https://www.youtube.com/watch?v=Cwp2sjP4t4o

[2020-04-08 07:42] ChrisHae commented on #72
I uploaded some commits. Now it is possible to set the network parameters as written in the configuration.yaml (panId, extPanId, channel and network key) If one entry is missing the default value as written in the configuration documentation is used.

We are currently working and testing to improve stability of ConBeeII sticks running in zigbee2mqtt.

Next thing to be implemented is the waitFor fu

[2020-04-08 08:55] ChrisHae commented on #72
@val-arg
Could you post the bootloader and firmware version of your ConBeeII?
You can retrieve it with this command: sudo GCFFlasher_internal -d /dev/ttyACM0 -r

[2020-04-08 16:39] Koenkk commented on #160
I've checked the log, but for the other 2 endpoints the device does not answer the simple descriptor request (so we can also not read attributes).

[2020-04-08 21:33] juamiso commented on #22
I really want to install battery-less Switches at home to use them via zigbee and iobroker. Do you recommend the friends of hue smart switch or which one do you plan to support? I've read that the Philips hue tap ist not very good in haptic.
Great job!

[2020-04-09 12:58] TheNetStriker commented on #22
@Koenkk Looks great! Is it already possible to test this myself?

[2020-04-09 13:03] cmorlok commented on #22
@TheNetStriker The branch where the development happens was mentioned above: https://github.com/Koenkk/zigbee-herdsman/commits/feature/greenpower

[2020-04-09 13:30] Koenkk commented on #22
Soon it will be available.

[2020-04-09 15:49] mdhom commented on #22
Absolutely amazing! Will it instantly support *all* GreenPower devices, or only the two mentioned above? I've got the Gira Friends of Hue Switch which i'd love to integrate...

[2020-04-09 15:55] Koenkk commented on #22
Probably all of these friends of hue switch will be supported (only tested with a Niko but I expect others will also work).

[2020-04-09 20:02] Koenkk commented on #22
Implemented, discussion: https://github.com/Koenkk/zigbee2mqtt/issues/3322

[2020-04-09 20:02] #22 closed

[2020-04-09 22:10] val-arg commented on #72
@ChrisHae it shows this:
[code]
Looks like the latest stable version.

[2020-04-12 09:00] ch90045 opened #164 "Group add IKEA TRADFRI remote control (E1524/E1810) not possible"
Hi,

i did try this with 2 different RC's, one was known to zigbee2mqtt before, the other one i just added as new. Before the RC i successfully added 0x000b57fffe8ef780 via mqtt publish

- known one:
zigbee2mqtt:info  2020-04-12 10:45:43: Adding 'Ikea_Fernbedienung_Kueche' to 'Group_Kueche'
....
zigbee2mqtt:info  2020-04-12 10:46:01: MQTT publish: topic 'zigbee2mqtt/Ikea_Fernbedienung_Kueche', pay

[2020-04-12 09:27] ch90045 commented on #164
Just checked the dev branch as well - no change

[2020-04-12 12:36] Chrischi- commented on #164
@ch90045
why do you want to put two remotes in one group?

[2020-04-12 16:54] MarhyCZ commented on #72
If we can now setup panId, network key and channel, would it be possible to migrate from deconz without repairing? Simply setting the same network parameters?

[2020-04-12 21:43] ch90045 commented on #164
I don't, I just tried 2 different ones to prove its not because one maybe faulty device. The group just should be a light and a RC. The light did work, none of the RCs were possible.,

[2020-04-13 08:27] Chrischi- commented on #164
It doesn't make sense for me to group remote-controls together.
As a binding I can understand it but not as a group.

Maybe you have another/wrong understanding of what a group should do.

I think what you really want is a binding, not a group.

[2020-04-13 09:29] Koenkk commented on #164
@ch90045 , @Chrischi-  is right, please check https://github.com/Koenkk/zigbee2mqtt/issues/3326#issuecomment-612577963

[2020-04-14 08:46] ch90045 commented on #164
You are both right ;) i mixed up group and bind.  With the bind it was working although i was surprised that the color change was not included (but that was not even mentioned on the device page). Somehow same procedure still does not work for me with same kind of remote with a IKEA ICPSHC24-10EU-IL-1. The bind was confirmed in the messages but using the remote has no effect - any known issues?

[2020-04-14 11:07] ChrisHae commented on #72
This should work because the needed network parameters would be the same. But i think zigbee2mqtt would not show the devices beacause they are not in its database. Perhaps open the network and powercylce the devices should do the trick but I'm not sure.

[2020-04-14 22:55] mar005 commented on #72
Hi @ChrisHae So if I currently use the TI Zigbee device and want to move to using the Conbee as my hardware dongle instead, it’s now fully supported to do so? Again same as @MarhyCZ sorry if this has been asked again.

[2020-04-16 14:53] val-arg commented on #72
@mar005 If there's a way to add your devices to the database of currently used devices then it's "fully supported".
It has to be tested anyway.

[2020-04-21 10:17] Hedda opened #168 "[REQUEST] Support for Silicon Labs EFR32 (Mighty Gecko family) based Zigbee radio adapters using EZSP serial protocols?"
Will you consider adding support for Silicon Labs adapters via EZSP (EmberZNet Serial Protocol) APIs?

It is maybe possible for you to port the EZSP (EmberZNet Serial Protocol) code from the bellows library to zigbee-herdsman (in a similar manner to how zigpy-cc which was ported from zigbee-herdsman)?

- Port https://github.com/zigpy/bellows open-source python library code for EZSP support?

  - C

[2020-04-21 10:18] Hedda commented on #168
Understand adapter interface needs to be implemented in zigbee-herdsman for zigbee2mqtt support?

https://github.com/Koenkk/zigbee-herdsman/blob/master/src/adapter/adapter.ts

This is how similar support for ConBee and RaspBee adapters are now being added to zigbee-herdsman

https://github.com/Koenkk/zigbee-herdsman/issues/72

@Koenkk if you do not already have one of these dev boards could I mayb

[2020-04-21 10:58] Hedda commented on #168
FYI, Silicon Labs also has an official devkit called "EFR32 Mighty Gecko Wireless Starter Kit", but it cost almost $500 US-dollars ($499 to be precise), however, it then contains three complete dev boards.

- https://www.silabs.com/products/development-tools/wireless/mesh-networking/mighty-gecko-starter-kit
- https://www.silabs.com/wireless/zigbee/efr32mg1-series-1-socs/device.efr32mg1b132f256gm32

[2020-04-21 12:45] Hedda commented on #168
Z-Smart Systems by @cdjackson also has code supporting latest Ember dongles at @zsmartsystems

- https://github.com/zsmartsystems
  - https://github.com/zsmartsystems/com.zsmartsystems.zigbee
    - https://github.com/zsmartsystems/com.zsmartsystems.zigbee.sniffer

The framework implements a package structure that allows efficient use of re-usable components in a number of different applications.

[2020-04-21 14:14] Koenkk commented on #168
Adding a new adapter indeed requires the implementation of the adapter.ts.

Note that adding support for a new adapter is a lot of work, given that we already support  2 powerful adapters (conbee and CC2652R/CC1352P-2 which will also available as USB in the future: https://electrolama.com/projects/zig-a-zig-ah/) I don't see a good a time/reward ratio at the moment.

[2020-04-21 17:55] Hedda commented on #168
That is understandable, hopefully someone else might be willing to take on such a project. My thinking is just that hardware-independence and improved compatibility with multiple Zigbee 3.0 coordinator adapters/dongles from different manufacturers would be beneficial to everyone in the long run. That is, support for more Zigbee 3.0 coordinator adapters/dongles could democratize to the platform, me

[2020-04-24 09:59] kelvin5290 commented on #72
hi everyone, do anyone have ideas? Thank you

[2020-04-24 16:34] SillyDay commented on #168
@Hedda Ebyte E180-ZG120A(B) is a Serial port transparent transmission module, running Ebyte private  firmware,not EZSP. (However, it can act as a standard ZigBee3.0 router in the Network) For example, I sent AABBCCDDEEFF(not HEX) to the serial port, then I captured ![Img](https://github.com/SillyDay/ZigBeeDebug/blob/master/Profile.png?raw=true)
  In other words, the moudule running a Ebyte offical

[2020-04-25 05:34] #65 closed

[2020-04-27 07:32] Hedda commented on #168
@SillyDay Sorry if I was unclear. I suspected that something like would be the case, though I believed that it did not come with any application firmware at all, only a bootloader firmware from the factory.

I am of course suggesting that 'someone' first also need to build a "standard" EmberZNet Zigbee coordinator firmware image for Silicon Labs EFR32MG12 SoCs using the official Simplicity Studio

[2020-04-27 07:44] Hedda commented on #168
Should be noted that Silicon Labs makes it clear that it is OK for multiple developers within a company, organization or team share a single Silabs account for use with their Simplicity Studio SDK.

So if example "team zigbee2mqtt" or "team zigbee-herdsman" collectively bought an official Silicon Labs Zigbee devkit and register that to a shared account then all developers on that team could,  as l

[2020-04-27 07:52] Hedda commented on #168
Another tip is this "Zigbee Boot Camp Course" wiki for Silicon Labs @MarkDing has put on GitHub :

- https://github.com/MarkDing/IoT-Developer-Boot-Camp/wiki/Zigbee-Boot-Camp

- https://github.com/MarkDing/IoT-Developer-Boot-Camp

He has also put together this PDF with Silicon Labs ZigBee Onboarding Roadmap for beginners:

- https://github.com/MarkDing/IoT-Developer-Boot-Camp/wiki/files/ZB-Zigbee-

[2020-04-27 08:01] Hedda commented on #168
@cdjackson from @zsmartsystems also mention two main NCP images in their README.md

- https://github.com/zsmartsystems/com.zsmartsystems.zigbee

  "Currently there are two main NCP images - one that supports hardware flow control with a baud rate of 115200, and one that supports software flow control with a rate of 57600."

Perhaps he would be willing to tip how to build or make EmberZNet Zigbee c

[2020-04-27 08:21] cdjackson commented on #168
This statement is probably a little old now - it was made when Silabs provided pre-build firmware images which they no longer do. You now need to compile them for your hardware, so data rates etc are configurable.

It is relatively easy to compile the firmware if you have the SDK etc. I do have a document that I provide to customers but don’t really want to publish it on the net but can answer que

[2020-04-27 09:28] Hedda commented on #168
@cdjackson So in your opinion, once someone has registered an official EFR32 devkit to their account for Silicon Labs and installed + login to Simplicity Studio SDK it should be relatively easy for them to build and compile an EmberZNet PRO Zigbee coordinator firmware image file for an EFR32MG12 based module like the E180-ZG120B-TB evaluation board which then could be shared to everyone so that an

[2020-04-27 09:37] cdjackson commented on #168
I’m not familiar with the EByte module so can’t really comment on that. If it is a standard EFR32 under the hood, and doesn’t do anything too non-standard, then yes, it’s reasonably straight forward to create firmware. You will need to know the hardware configuration of the module though (ie what pins of the EFR32 are connected where in the module) - I’m not sure if this information is available?

[2020-04-27 10:29] Hedda commented on #168
Ebyte does indeed have public documentation with detailed layouts of the modules pins available.

E180-ZG120B module
- http://www.ebyte.com/en/product-view-news.aspx?id=842
  - User Manual PDF with PIN layout & listing: http://www.ebyte.com/en/downpdf.aspx?id=842
  - Alternative URL: http://www.ebyte.com/en/pdf-down.aspx?id=1618

E180-ZG120B-TB evaluation board
- http://www.ebyte.com/en/product-vi

[2020-04-27 19:47] SillyDay commented on #168
@Hedda I can access the EmberZNet Zigbee stack and try to build a coordinator firmware for EFR32MG1B232F256, but someone have to add support for EmberZNet stack

[2020-04-27 20:15] SillyDay commented on #168
@Hedda Also, programming and read back the firmware is available for E180 series via JLink. I just  flashed a customized firmware from EBYTE using my JLink V11.

[2020-04-27 22:37] mike182uk commented on #72
Howdy,

I've been testing out using the ConBee 2 (on firmware `0x264a0700`) with `zigbee2mqtt` (via docker - `koenkk/zigbee2mqtt:latest-dev`) and it doesn't seem to be behaving as expected.

I'am testing 2 devices, both of which should be supported by `zigbee2mqtt`:

- [Salus SP600](https://www.zigbee2mqtt.io/devices/SP600.html)
- [SmartThings GP-WOU019BBDWG](https://www.zigbee2mqtt.io/devices/GP-

[2020-04-27 22:40] MPM1107 commented on #168
Well Sonoff made this even more interesting since their new bridge uses the EFR32MG21, so implementing this would add it to the list of supported coordinators as well. @SillyDay could you try and build a firmware file for that chip as well? I don't have one of these Ebyte modules but my Sonoff bridge is about to arrive in the mail, so I could start tinkering with it. I do have some access to prebu

[2020-04-28 08:49] Hedda commented on #168
@SillyDay I understand.

I would great if you or someone could only build Zigbee coordinator firmware images with latest EmberZNet Zigbee stack for the EFR32MG1 Series 1 SoC inside E180-ZG120B and distribute those image files in a GitHub repo or similar location so that everyone could download it without hunting.

Maybe similar to how Koenkk distribute Z-Stack coordinator (and router) firmware but

[2020-04-28 09:00] SillyDay commented on #168
@Hedda I have finished building a Customized NCP firmware following AN1010: Building a Customized NCP Application, and posted it on https://github.com/SillyDay/EFR32/blob/master/E180-NCP.bin You can flash this firmware via JLink to E180. In addition, this firmware is untested!

[2020-04-28 09:09] Hedda commented on #168
@MPM1107 FYI, E180-ZG120B is based on EFR32MG12 (EFR32MG1x) making it an EFR32 Series 1.

Sonoff ZBBridge (Sonoff Zigbee Bridge) is based on EFR32MG21 (EFR32MG2x) so it's an EFR32 Series 2.

Confusing naming scheme but as I understand they should still use the same SDK & Zigbee stack, see:

https://www.silabs.com/documents/public/application-notes/an0918.2-efm32-to-efr32xg2x-migration-guide.pdf

P

[2020-04-28 10:04] Hedda commented on #168
@SillyDay you should not need to use a JTAG flasher for the E180-ZG120B-TB evaluation board, right?

EFR32 should come with a bootloader from the factory that should allow software flashing over USB?

The previous generation (Silicon Labs ETRX357) adapters, like example Telegesis ETRX357 USB dongles, have plenty of instructions out there on how to flash firmware over USB with only software.

https

[2020-04-28 10:53] SillyDay commented on #168
@Hedda No, the bootloader in E180-ZG120 is not a UART XMODEM Bootloader, so you have to use SWD Interface at least once. BTW, the Bootloader is not included in my firmware.

[2020-04-28 12:43] MPM1107 commented on #168
@SillyDay Yeah I checked the migration guide as well and it says somewhere in there that series 1 and 2 are not binary compatible. But you should still be able to run the exact same code/stack on them, so once implemented zigbee2mqtt shouldn't care which of the two it's using. That's why I specifically asked whether you could compile the firmware for that chip as well. It would also be interesting

[2020-04-28 16:13] SillyDay commented on #168
@MPM1107 Pls let me know the Pin definition of your device, especially TX&RX and you need a NCP firmware for EFR32MG21A020F768IM32 is that right?

[2020-04-29 12:50] MPM1107 commented on #168
@SillyDay Yes, that is the right chip. I did some reversing of the circuitry today, I'm pretty sure I got all of the pins right. Getting hold of documentation for these chinese modules sure is a pain though.

TX: PB01 (connected to ESP8266 U0RXD)
RX: PB00 (connected to ESP8266 U0TXD)
PA00 connected to ESP8266 GPIO5
DRX: PA06
DTX: PA05
SWDIO: PA02
SWCLK: PA01

So long story short, TX is on PB01 and

[2020-04-29 14:31] stevew817 commented on #168
@MPM1107 Do you have the possibility to attach a logic analyser to TX, RX and PA0? If there's only one GPIO signal between the two, it might be any of:
* a flow control signal for TX/RX (to avoid buffer overruns in the serial communication)
* a coexistence signal (making sure the two 2.4GHz radios don't try to transmit at the same time)
* a bootloader entry signal, to allow the ESP8266 to upload n

[2020-04-29 20:31] MPM1107 commented on #168
Little update: No changes on that PA0 line in normal operation (even while sending/receiving data), so I'm pretty sure it's for entering the bootloader mode for over the air updates from the host mcu. This is further supported by the fact that there's a physical resistor in place that's pulling the data line up to Vcc which I didn't notice before. Thanks for the suggestions @stevew817

[2020-04-30 05:42] #137 closed

[2020-04-30 22:17] mike182uk commented on #72
Hey,

Whenever `zigbee2mqtt` tries to configure a device, it always fails with: `Error: Status 'INVALID_DATA_TYPE'`

[code]

I get the same error for 2 different supported devices ([Salus SP600](https://www.zigbee2mqtt.io/devices/SP600.html), [SmartThings GP-WOU019BBDWG](https://www.zigbee2mqtt.io/devices/GP-WOU019BBDWG.html))

I'm using the Conbee 2 on the latest firmware (`0x264a0700`).

Not sur

[2020-05-01 12:32] JHurk commented on #22
@mdhom I am interested in buying one or more Senic Gira Friends of Hue switches, can you confirm that they work with the current version of Zigbee2MQTT? I see you have them and asked @Koenkk if they work, I would really like to know before I buy one of them.

[2020-05-01 12:38] mdhom commented on #22
I haven't tested it yet because i a had other big troubles with my Installation, but i could test it tomorrow!

[2020-05-01 12:42] JHurk commented on #22
@mdhom thanks that would be nice. Look forward to hear from you, take your time, no rush.

[2020-05-01 21:20] Kosta-Github opened #170 "out-of-bounds access for routing request for Osram Smart+ plugs"
I am getting the following out-of-bounds errors when doing a routing request via zigbee2mqtt `zigbee2mqtt/bridge/networkmap/routes` for my 2 [Osram Smart+ plugs](https://www.zigbee2mqtt.io/devices/AB3257001NJ.html)

[code]
see: https://github.com/Koenkk/zigbee2mqtt/issues/3455

[2020-05-02 06:41] #141 closed

[2020-05-02 11:45] mdhom commented on #22
@Koenkk is there already a docker image available containing the new Feature?

[2020-05-02 11:59] Koenkk commented on #22
@mdhom green power support is available in the latest release (zigbee2mqtt 1.13.0)

[2020-05-02 12:36] Koenkk commented on #170
It seems that it returns no routes and therefore parsing fails. I would like to confirm this via sniffing (https://www.zigbee2mqtt.io/how_tos/how_to_sniff_zigbee_traffic.html), if that also shows no routes then I can implement a fix.

Can you make a sniff?

[2020-05-02 15:24] Kosta-Github commented on #170
Unfortunately, I don't have a sniffer or flashing equipment at home right now.

[2020-05-02 18:15] mdhom commented on #22
it somehow worked and somehow didn't 😅 I was prepared to keep the up right button pressed for some time for pairing (read that anywhere), but exactly when i pressed that button, the following error appeared (but only in console, not in log file):

[code]
Shortly after that error message, the following log appeared, looking like actually pairing was successfull:
[code]
Now, when i press one of the

[2020-05-02 19:08] Koenkk commented on #170
I can ignore this case but that wont really help much (dont know if Im doing the correct thing). Anyway I dont expect much benefit from fixing this, after it the routing table will still be empty as the device returns an empty one.

[2020-05-02 21:41] #136 closed

[2020-05-03 13:16] #143 closed

[2020-05-04 06:14] arteck opened #171 "ConBee after pairing no configuration available"
the message is` "Failed to configure 0x00000000`
after pairing the conBee not send the configuring message to the Device as sample osram plug or hue RWL021

[code]

[2020-05-04 13:13] Koenkk commented on #22
@mdhom what firmware are you running? Have you been able to start it after this?

[2020-05-04 21:18] itavero opened #172 "Feature Request: NRF52840-Dongle support"
I reckon this has been mentioned before, but I think it would be interesting to see if the NRF52840-Dongle from Nordic Semiconductors can be supported.
I noticed some work going on to support the deconz adapter, so I reckon some abstraction is already (being put) in place.

The dongle is cheap (about 11 euro from Mouser) and has a DFU option for programming it via USB (Nordic also provides a free

[2020-05-05 06:57] ChrisHae commented on #72
I implemented the waitFor method and OTA update is now running. But when testing I have an issue that the update the update runs a while then when it requests image data with an offset of 800 (~ update progress of 0.38%) it always repeats the same request and always gets the same data. Then the device cancels the update.
Can someone test it and confirm the issue? I have tested it with an ikea trad

[2020-05-05 07:32] ChrisHae commented on #72
@kelvin5290
@mike182uk
thanks for the help. I will have a look.

[2020-05-05 07:57] Koenkk commented on #172
To add a new adapter the following interface has to be implemented: https://github.com/Koenkk/zigbee-herdsman/blob/master/src/adapter/adapter.ts. Implementations of deconz/zstack can be found here: https://github.com/Koenkk/zigbee-herdsman/tree/master/src/adapter

[2020-05-05 13:42] osos opened #174 "CC2652 - dongle ?"
Anyone know is this is stable:

Small cc2652 usb dongle:  https://electrolama.com/projects/zig-a-zig-ah/

Looks promising.

[2020-05-06 08:34] Koenkk commented on #174
Yes it's stable (my production network is running on it). It's not yet available but hopefully soon (I've got one from the creator himself). Once it is for a reasonable price this will be the recommended adapter.

[2020-05-06 08:34] #174 closed

[2020-05-06 09:36] arteck commented on #171
new version but not better

[2020-05-07 16:58] jmerifjKriwe commented on #72
I have a lot (meaning every 3 seconds) of this:

Mai 07 18:57:13 nodered npm[593]: (node:649) UnhandledPromiseRejectionWarning: Error: unknown parameter id
Mai 07 18:57:13 nodered npm[593]:     at parseReadParameterResponse (/opt/zigbee2mqtt/node_modules/zigbee-herdsman/dist/adapter/deconz/driver/frameParser.js:94:19)
Mai 07 18:57:13 nodered npm[593]:     at parseFrame (/opt/zigbee2mqtt/node_modul

[2020-05-08 11:32] ChrisHae commented on #72
@kelvin5290
@mike182uk
I uploaded some fixes and your problems with configure reporting or malformed packets should be gone.

Although I'm not completely done perhaps some devices could still make some errors when pairing or reporting but I'm on it.

[2020-05-08 19:46] jhenkens opened #176 "Increase retry count on pairing for SmartThings sensor"
https://github.com/Koenkk/zigbee-herdsman/blob/master/src/controller/model/device.ts#L498

I'm not sure if the comment on this code is implying this wait period is going to go away entirely (and thus, the success/error messages below as well). But for the SmartThings sensors, if we double this attempt count, we get successful pairings per the log message, rather than "failed to Interview" combined

[2020-05-08 21:41] hutchinsane commented on #72
Interview for ikea symfonisk (any ikea device, really) fails with unsupported attribute and the device doesn't work: https://pastebin.com/vGw1d41K
After a few hours the device inexplicably started to work, while still throwing an error:
https://pastebin.com/61NL03yv

[2020-05-08 23:25] SwoopX commented on #72
@ChrisHae Would your approach also be workable for the RaspBee then? Would be an interesting combination to try out once things got ironed out. Maybe there's also a rough estimate for an ETA? I see work is catching some pace :)

Maybe one additional offer, sorry for highjacking this a bit here, but maybe you'd consider joining the deconz discord channel to stay in touch regarding the latest develo

[2020-05-09 12:10] Koenkk commented on #176
done, did two things
- Changed no. of attempt to 20
- Increased wait period between attempts to 500 ms

This should give the device 10 seconds to changes it's zoneState.

Thanks!

[2020-05-09 12:10] #176 closed

[2020-05-09 12:25] larskeller commented on #72
Hi, I just had a similar problem like @hutchinsane with a Tradfri signal repeater and the UNSUPPORTED_ATTRIBUTE error message
`

2020-05-09 04:38:35.847 - info: zigbee.0 (12337) Configuring 0x000d6ffffea61fe1 TRADFRI signal repeater
--
2020-05-09 04:38:36.447 - error: zigbee.0 (12337) Failed to configure 0x000d6ffffea61fe1 TRADFRI signal repeater, attempt 5 (Error: ConfigureReporting 0x000d6ffffea

[2020-05-09 12:27] Koenkk commented on #72
`UNSUPPORTED_ATTRIBUTE` errors are likely not related to conbee, please create an zigbee2mqtt issue containing a traffic sniff while this errors occurs. https://www.zigbee2mqtt.io/how_tos/how_to_sniff_zigbee_traffic.html

[2020-05-09 16:54] EpicLPer commented on #72
Just dropping by as a complete "programming noob" to ask if the ConBee II stick is in any way a usable device with Zigbee2MQTT already? :) Thanks for answering!

[2020-05-10 06:01] larskeller commented on #72
@Koenkk  just clarifying for myself. I do have some more error message since I use the Conbee II. (Before I used the CC2531 and everything works).

(7456) TypeError: Cannot read property 'stack' of undefined at process.exceptionHandler (/opt/iobroker/node_modules/iobroker.js-controller/lib/adapter.js:8238:17) at process.emit (events.js:31
zigbee.0 | 2020-05-10 07:50:01.443 | error | (7456) uncaugh

[2020-05-10 07:48] Koenkk commented on #72
Those arent I think

[2020-05-10 14:17] osos commented on #72
@manup just pointed to a new firmware: https://github.com/dresden-elektronik/deconz-rest-plugin/issues/1261#issuecomment-626328136

could be worth a try

[2020-05-11 06:21] ChrisHae commented on #72
It's still in development and has some issues.

[2020-05-11 09:07] ChrisHae commented on #72
I could pair a tradfri signal repeater with the current version successfully:

`Successfully interviewed '0xec1bbdfffe47c108', device has successfully been paired
zigbee2mqtt:info  2019-02-14 12:57:30: Device '0xec1bbdfffe47c108' is supported, identified as: IKEA TRADFRI signal repeater (E1746)
zigbee2mqtt:info  2019-02-14 12:57:30: MQTT publish: topic 'zigbee2mqtt/bridge/log', payload '{"type":"p

[2020-05-11 09:23] larskeller commented on #72
Thanks @ChrisHae for the information.
Thanks @osos for the link to the new firmware.

I tested the new firmware and the conbee II runs better some error are gone. The only think that is strange is that the signal quality is very low after the update. It starts by 1 and after 15 hours it is by 22. But it will bend and wait :)

Back to @ChrisHae post:
Currently, the only error is the configuration a

[2020-05-11 09:36] ChrisHae commented on #72
I see there is a parameter id that I didn't implemented. I can add it then the error should be gone.

[2020-05-11 09:37] ChrisHae commented on #72
ok, I will have to observce this...

[2020-05-12 12:40] ChrisHae commented on #72
I have reworked my code a little bit. Now the standard implementation for zclFrame.toBuffer() of zigbee2mqtt is used. This should improve Attribute reporting, configuring, etc. and some errors could be gone.

Also receiving an unknown command does not trigger an exception so the error from @hutchinsane should also be gone.

I have tested with IKEA synfonic and signal repeater and both paired well.

[2020-05-12 12:53] ChrisHae commented on #72
@Koenkk
I have nearly the same issue as @hutchinsane when using the IKEA synfonic switch.
Pairing goes well and it reports attributes as I use the switch. but after a while there are nor more messages from zigbee2mqtt that report the attributes (Received Zigbee message from...). Although I see that the ConBeeII still receives messages from it and my underlying implementation still receives data_in

[2020-05-12 17:44] larskeller commented on #72
@ChrisHae My errors with the 'UNSUPPORTED_ATTRIBUTE' are gone. I can pair the TRADFRI Signal Repeater and the configuration is a success. Thank you!

[2020-05-13 03:39] #113 closed

[2020-05-13 07:16] JLFN commented on #72
I tried with Conbee version 1 and it didnt work with firmware deCONZ_Rpi_0x26350500.bin.GCF. Is only Conbee II supported? is it possible to change inetadrr for the cordinator so i dont need to repair all the devices?

[2020-05-13 15:06] osos commented on #174
Seems available on Tindie:

https://www.tindie.com/products/electrolama/zzh-cc2652r-multiprotocol-rf-stick/

Shipping is a bit high, otherwise acceptable price compared to Conbee

[2020-05-14 17:26] klausdm commented on #174
God dammit. Just received the TI CC1352P-2 dev 🙁

[2020-05-15 22:42] morremeyer commented on #72
@ChrisHae I can confirm the issue you mentioned. Below are the logs from my setup. Let me know if I can help debugging this further.

<details>
<summary>zigbee2mqtt debug log</summary>
[code]
</details>

[2020-05-15 22:56] morremeyer commented on #72
@ChrisHae On another note, how are you currently working on this topic? Shall we report bugs/problems in this issue directly for now?

[2020-05-17 20:27] muellererwin commented on #72
zigbee2mqtt version 1.13.0-dev (commit #9a28f11)
herdsman 0.12.90 (just recently updated)
ConBeeII: 0x26580700

@ChrisHae
Thanks for improving the support for ConBeeII. It seems to be near stability.

I from time to time get the following message:
(node:17) UnhandledPromiseRejectionWarning: TIMEOUT
(node:17) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated eithe

[2020-05-17 20:35] muellererwin commented on #72
zigbee2mqtt version 1.13.0-dev (commit #9a28f11)
herdsman 0.12.90 (just recently updated)
ConBeeII: 0x26580700

@ChrisHae
Another issue:
I have a Xiaomi WXCJKG13LM - Xiaomi Aqara Opple switch 3 bands. It works for single press.
But I cannot produce double or multiple press or long press.
As I read in another thread by Koenkk, multiple press are detected by the switch and not zigbee2mqtt (appart fo

[2020-05-18 16:03] muellererwin commented on #72
zigbee2mqtt version 1.13.0-dev (commit #134f671)
herdsman 0.12.90 (just recently updated)
ConBeeII: 0x26580700

Now after a full restart I am finally on the latest dev commit.
But sorry to say everything seems to be a bit more unstable now.

My Xiamoi illumination sensors work for a while (around an hour) but then they fail.
My Xiamoi Opple Switch 6-button presses aren't even registered as a singl

[2020-05-18 20:27] muellererwin commented on #72
Messages before crash (already known):
(node:16) UnhandledPromiseRejectionWarning: TIMEOUT

(node:16) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). To terminate the node process on unhandled promise rejection, use the CLI flag `

[2020-05-19 20:11] YehorFedorov opened #179 "Failed to pair devices: Xiaomi WXKG01LM / Xiaomi Cube MFKZQ01LM"
Hi!

I'm trying to implement zigbee bridge in my setup using your zigbee-hersdman module but I'm facing some issues.

My setup:
CC2530 (Zigbee 1.2 firmware) esp8266 (virtual serial port)
CC2530 (Zigbee 3.0.2 firmware) esp8266 (virtual serial port)
Zigbee bridge is running in Docker and connects to controller via TCP

Time to time I'm not able to pair Xiaomi WXKG01LM / Xiaomi Cube MFKZQ01LM devices

[2020-05-20 10:32] YehorFedorov opened #180 "Strange behaviour when all devices stop communicate"
Hi!

I'm trying to find a reason when all paired devices goes offline in my system and here is my thoughts.

I have 5 setups of my system with the same configuration:
CC2530 (Zigbee 1.2 firmware) esp8266 (virtual serial port)
Zigbee bridge is running in Docker and connects to controller via TCP

Devices: Xiaomi wireless switch WXKG01LM, Xiaomi Cube MFKZQ01LM, Xiaomi bulb ZNLDP12LM, Xiaomi Aqara te

[2020-05-20 16:08] Koenkk commented on #179
`error Error: Invalid checksum` -> this error can occur when the remote connection to the adapter is not stable.

Does this still occur when the CC2530 is connected directly? (through USB)

[2020-05-20 16:55] LukeChannings commented on #72
zigbee2mqtt: docker.io/koenkk/zigbee2mqtt@sha256:7b0ee3b22714ebb1be947f921639a75af30154528f8660899635f6676dd379ed
ConBee II f/w: 0x26580700

I've started re-pairing devices from an existing CC2531 network and I've successfully paired a TRADFRI Signal Repeater.

In the logs, however, I get these messages repeated 4 times a second:

[code]

Is anyone else experiencing console spam?

[2020-05-20 17:35] YehorFedorov commented on #179
No i haven't tried it yet. I could try but I need to use it in this setup to be able to connect via TCP.
But thanks for explanation)

Any thoughts about Xiaomi cube? I'll try in few hours with old version of zigbee-herdsman

[2020-05-20 18:23] YehorFedorov commented on #179
Okey I think I should close this issue because my Xiaomi cube is broken I guess. Now I don't getting any data from it after any action even clicking reset button.

Thank you again!

[2020-05-20 18:23] #179 closed

[2020-05-23 11:41] ArkadiuszNiemiec commented on #72
I have changed my CC2531 to ConBee II for a day and was able to pair 29 of my devices (mostly Aqara sensors, curtain motors and wall switches + Eurotronic Radiator Valve + GLEDOPTO driver). It worked great but everything went unresponsive during the night.
Everything went back online after system reboot. I have looked into the logs and just saw that around 6-7 AM devices stopped sending messages:

[2020-05-23 18:30] Hypnos3 opened #181 "UnhandledPromiseRejectionWarning"
I get a lot of UnhandledPromiseRejectionWarning:

[code]

[2020-05-23 18:48] ArkadiuszNiemiec commented on #72
I believe this is another error related to the new adapter:
[code]

[2020-05-24 12:37] ArkadiuszNiemiec commented on #72
It was working perfectly during the day but after another night it broke. This looks like a moment where it failed:
[code]

I am going back to CC2531 but let me know if you need any logs or more testing. I have ConBee II lying around and want to make it work.

[2020-05-26 08:17] ChrisHae commented on #72
Sry for not beeing online a while. Couldn't do much because of serveral reasons.
I want now to get rid of that annoying connection losts of ConBee and RaspBee i.e. the timeouts that appear after a while. It seems this is not a FW problem, because restartating the application will restore connectivity. Unplug the ConBee is not needed. Unfortunately I have no clue when and why it got knocked out. It

[2020-05-26 13:26] ChrisHae commented on #171
How it is now with the latest version of the dev branch?

[2020-05-27 12:59] poblabs commented on #72
Having issues with a Centralite 3320-L and ConBee II. This is listed as a supported zigbee2mqtt device. Here's my logs:

Let me know how else I can help debug this?

[code]

[2020-05-28 11:34] stravinci opened #183 "Tuya TS0201 not recognized"
Hi,
I have problem with Tuya TS0201
![image](https://user-images.githubusercontent.com/6818785/83136340-92dbf680-a0e7-11ea-8392-e176ff6e661b.png)
Can you help me to debug it?
I have installed 1.13.0 Zigbee2Mqtt.

[2020-05-28 12:30] poblabs commented on #72
Today I'm getting these errors

[code]

[2020-05-28 12:35] stravinci commented on #183
Ok, more info. I remove that 2 devices and add it once again and now its works fine.
Third device join properly at first attempt.
Fourth device joining logs:
![image](https://user-images.githubusercontent.com/6818785/83140541-85763a80-a0ee-11ea-937e-5c8f90283560.png)
I force remove it, pair again, disable pairing, still not working, next force remove, remove battery from device and re-plug, device

[2020-05-29 07:45] ChrisHae commented on #72
@poblabs
I can't see where the device joining process fails with these logs. Could you start zigbee2mqtt with this command? DEBUG=zigbee-herdsman:deconz* npm start

[2020-05-29 11:02] bgulla commented on #72
@ChrisHae I am using a fresh docker install of :latest-dev with the CONBEE II. Devices do not seem to be pairing. below are the logs with debug herdsman:

`zigbee2mqtt:info  2020-05-29 06:56:26: Starting zigbee-herdsman...
zigbee2mqtt:debug 2020-05-29 06:56:26: Using zigbee-herdsman with settings: '{"network":{"panID":6754,"extendedPanID":[221,221,221,221,221,221,221,221],"channelList":[11],"netwo

[2020-05-29 13:15] poblabs commented on #72
I'm running this in docker. Is there a way to enable the logging you need with the docker instance?

[2020-05-29 13:54] ArkadiuszNiemiec commented on #72
@poblabs add `-e DEBUG=zigbee-herdsman:deconz*` to your `docker run` command or add this to your docker-compose file:
[code]

[2020-05-29 14:26] poblabs commented on #72
@ChrisHae Here you go. I had a lot of logs, and at one point the ConBee II lost connection so I had to restart the container (this happens a few times a day).

I removed the device, restarted, and re-joined the device. The below logs are the cleanest I could get it. Hopefully it helps.

[code]

[2020-05-29 21:19] #183 closed

[2020-06-01 07:49] s-hadinger commented on #168
@MPM1107 @SillyDay I did hooked a logic analyzer to the Sonoff Zigbee bridge and I confirm Sonoff does not use EmberZNet firmware.
https://github.com/arendst/Tasmota/issues/8583

I will try to flash the firmware, as there are clearly 5 programming pads: `Z_RX`, `Z_TX`, `SWDIO`, `SWCLK` and `Z_RST`.
![IMG_0599](https://user-images.githubusercontent.com/49731213/83330646-d756c600-a290-11ea-8a0d-0396

[2020-06-01 08:52] s-hadinger commented on #168
Contrary to my previous message, the Sonoff Zigbee Bridge does come with Ember firmware already loaded, as it shows when listening to `Z_TX`

[code]

[2020-06-01 10:50] Hedda commented on #168
@s-hadinger It would be absolutely great if that SONOFF ZBBridge (SONOFF Zigbee Bridge) already have Ember firmware already based on EmberZNet Zigbee Stack with their standard EZSP (EmberZNet Serial Protocol) serial protocol interface / API over UART bus.

If it already has Ember firmware with EZSP interfaces then will hopefully not need to worry about any firmware upgrade of in the first place an

[2020-06-01 10:56] Hedda commented on #168
All, by the way, here are a few of related discussions specifically about hacking SONOFF ZBBridge:

- https://github.com/arendst/Tasmota/issues/8583 (started by @s-hadinger  )
- https://github.com/zigpy/zigpy/issues/385
- https://github.com/xoseperez/espurna/issues/2224
- https://github.com/esphome/feature-requests/issues/688
- https://github.com/1technophile/OpenMQTTGateway/issues/205
- https://g

[2020-06-01 13:26] s-hadinger commented on #168
After more digging, the EFR32MG21 on the Sonoff Zigbee Bridge does have Ember software, but unfortunately it does not have EZSP. It looks like Sonoff implemented its own application on the EFR32 and has its proprietary protocol to the ESP. Trying to connect a non-SONOFF zigbee device to the coordinator what caught by the EFR, but was filtered out and never surfaced to the ESP8266.

I'm afraid we n

[2020-06-01 13:49] Hedda commented on #168
@s-hadinger Good to know, but too bad. Maybe @SillyDay can build a firmware if get pins definition?

[2020-06-01 14:04] Hedda commented on #168
Makes me wonder though if they really removed/disabled all the standard EZSP APIs in the firmware for the EFR32 MCU when they added proprietary app with its own protocol? As I understand it, the original EmberZNet app has several EZSP APIs, so maybe they just added an additional app and left the original with the EZSP APIs without even removing/disabling those.

[2020-06-01 16:16] s-hadinger commented on #168
I tried to connect with a JLink but I'm getting an error:

[code]

It looks similar to error here: https://forum.segger.com/index.php/Thread/6521-SOLVED-Can-t-connect-to-Silicon-Labs-EFR32MG21A010F1024/

Any idea from someone who knows JLink?

[2020-06-01 16:44] stevew817 commented on #168
Debug interface might be locked down.

[2020-06-01 17:22] s-hadinger commented on #168
Confirmed, Simplicity Studio gives more details. The device is debug-locked, but not erased lock. It means that we can erase it completely and push a new firmware (secure boot is not enabled so firmware doesn't need to be signed):
<img width="750" alt="EFR32" src="https://user-images.githubusercontent.com/49731213/83435837-2e010300-a43d-11ea-94ca-50d5fbf77371.png">

[2020-06-01 17:33] MPM1107 commented on #168
I'm guessing that itead has implemented a way to run ota firmware updates, so the gecko bootloader is probably available, right? Correct me if I'm wrong but that should make it possible for anyone to flash new firmware over the esp8266 instead of a debugger probe.

[2020-06-01 18:44] s-hadinger commented on #168
Yes probably. Interestingly there is a 24C512 chip attached to the ESP8266, which is a **I2C 512KB EEPROM** with 2 POGO pads to flash it. So I guess it's goal is to store a copy of the EFR32 firmware so that the ESP can flash it.

What I'm concerned with is that it requires an unlock key. If we erase the chip, does it erase the bootloader as well?

[2020-06-01 18:57] MPM1107 commented on #168
Oh that's interesting. From what i can see from the pictures the second chip is a FM25Q16A, so flash for the esp8266. That would indeed mean that the EEPROM has soem zigbee function. Another guess would be that it stores information about all of the devices that are allowed to connect to the bridge.
I don't know a lot about these chips, but from the screenshot you posted above I can see that there

[2020-06-01 21:13] s-hadinger commented on #168
512KB for Zigbee information would be huge, considering that the SPI Flash is already 4MB. It is surprising that Sonoff didn't use the 4MB Flash instead.

This document describes the Debug-lock behavior: https://www.silabs.com/documents/public/application-notes/an1190-efr32-secure-debug.pdf

Indeed they don't mention that debug-lock prevents flashing new software.

Also erasing the EFR32 does not

[2020-06-01 22:27] MPM1107 commented on #168
Looking at this doc, page 3: [https://www.silabs.com/documents/public/application-notes/an706-ezsp-uart-host-interfacing-guide.pdf](https://www.silabs.com/documents/public/application-notes/an706-ezsp-uart-host-interfacing-guide.pdf) it's almost certain that the GPIO5 connection is for entering bootloader mode. That fact is confirmed even further by the pullup resistor that I can see on that line,

[2020-06-02 07:43] s-hadinger commented on #168
It makes sense. Next step, I will flash a Tasmota on the ESP and try to enter bootloader mode.

[2020-06-02 08:32] stevew817 commented on #168
Fair warning, erasing the EFR32 series 2 does also erase the bootloader, since the bootloader would be a part of main flash that is mass-erased as part of the 'standard debug unlock' or 'device erase' commands.

[2020-06-02 08:50] Hedda commented on #168
So could also be possible unlock debug access on EFR32 via CLI from ESP8266 with custom firmware?

That is if debug unlock don't need a custom key to unlock or you can get that key from ITead/Sonoff?

[2020-06-02 10:22] Hedda commented on #168
Do you think it will be possible to flash from a custom ESP8266 firmware over UART or OTA?

- https://www.silabs.com/mcu/programming-options#programming

Do you think it's maybe possible to access the EFR32's SWD interface from ESP8266 over UART?

- https://www.silabs.com/documents/public/application-notes/an958-mcu-stk-wstk-guide.pdf

And are there any open-source tools that could flash EFx32 ove

[2020-06-02 10:40] s-hadinger commented on #168
That's what we hope with the Gecko bootloader.

Definitely no. The SWD interface is not electrically connected to the ESP8266. It is only available through the pads.

The protocol is XMODEM which is fairly simple. If the Gecko bootloader would allow us.

[2020-06-03 11:13] ChrisHae commented on #72
Thx, I don't know why but the Conbee seems to lose serial connection from time to time, perhaps a simple reconnect in the deconz adapter logic will help.

[2020-06-03 11:25] ChrisHae commented on #72
So the receiving of the simple descriptor failed. Does this happen every time? Most of the devices I have tested this worked and when it failed it worked the next time. I would say it is not an zigbee-herdsmans deconz adapter error but I cant say for now until I have tested the device for myself or saw a zigbee traffic log. With wireshark for example.

[2020-06-03 16:31] poblabs commented on #72
@ChrisHae With these devices it seems to happen frequently. Enough so that I replaced the devices - I don't know if they're old or broken. I have 4 and I'm only able to get 2 to work. So I think we can forget about this specific issue for now and assume it's broken hardware for now.

I think the main concern I have now is the Conbee serial disconnects and either a way to auto-restart the connectio

[2020-06-03 19:40] s-hadinger commented on #168
Sadly I'm currently stuck. I wasn't able to flash Tasmota to the ESP8266EX. After many tentatives and trial/error, it looks like the Flash SPI chip has an issue with sector erase. Some bits are not properly erased and keep flipping. I didn't find anything in the data sheet that could explain it, beyond a defective chip.

I will probably need to unsolder it and replace it. Unless someone has a bett

[2020-06-03 19:46] EpicLPer commented on #72
I'd love to give this a try on my Home Assistant ESXi setup with Zigbee2MQTT, how can I do so? I don't have any super critical devices there right now, I could try it with a bunch of Ikea lights, a cover and some remotes.

[2020-06-03 20:40] MPM1107 commented on #168
Are you getting any errors while erasing? Also, you say that it has issues with sector erase, did you try a full chip erase as well?

[2020-06-03 20:48] s-hadinger commented on #168
I'm not getting any error when erasing, but reading back shows that although most bytes are 0xFF, some bits are 0. And among them some bits are flipping between reads.

When I dumped the original Sonoff firmware, I did it twice and got exactly the same result. This makes me think that the corruption is internal to the SPI Flash chip.

When I write only 0x00 to a sector, the result is good. This ma

[2020-06-03 20:58] MPM1107 commented on #168
What about just trying to flash a "blank" bin file then? Stupid and hacky, but maybe the chip just has some weird ways to erase it that the flash tool doesn't quite understand? If you flash a 0xFF-filled bin and no bits are flipped that should be a good sign that at least the chip is able to hold data properly.

[2020-06-03 21:07] s-hadinger commented on #168
I tried too. I flashed a 900KB file full of 0xFF. But the problem remains the same which is understandable. Flashing 0xFF means erasing and writing nothing. Only flashing 0x00 means actually writing bits after erasing.

I also tried flashing a 4KB file with only 0xFF. Since esptoool.py zips the content before sending to UART, I had the proof that it was not a UART data corruption during the file t

[2020-06-03 21:40] MPM1107 commented on #168
Ah, so it's a chinese clone of the Winbond flash modules used by many of the little esp8266 boards. Source: [https://chromium.googlesource.com/chromiumos/third_party/flashrom/+/master/flashchips.h](https://chromium.googlesource.com/chromiumos/third_party/flashrom/+/master/flashchips.h)

I'm not quite sure what to say at this point. It would be weird if you got unlucky enough to receive a module wi

[2020-06-03 21:53] larena1 commented on #168
Maybe try asking Sonoff?

[2020-06-04 07:18] s-hadinger commented on #168
The number do match with FM25Q16A data sheet:
![FM25Q16A](https://user-images.githubusercontent.com/49731213/83726754-4d1db180-a644-11ea-94c9-d4001ebec96f.png)

[2020-06-04 08:46] Hedda commented on #168
Again, WeMos D1 (all models?) should have the same type of "ESP8266EX" as Sonoff ZBBridge so could possibly be the perfect hardware for creating alternative development kit platforms for such a project?

As for the Zigbee MCU SoC part it seems to currently be a bit harder to find inexpensive alternative hardware modules with Silicon Labs EFR32 Series 2 (EFR32MG21) MCU SoC if you do not want to by

[2020-06-04 10:37] z9th3 commented on #180
I am having same issue on a fresh setup with latest zigbee2mqtt firmware on CC2531.

- Xiaomi wireless switch WXKG01LM
- Xiaomi Temp, Humid, Pressure sensor WSDCGQ11LM
- Xiaomi Movement and Illuminance sensor RTCGQ11LM
- Xiaomi Contact sensor MCCGQ11LM
- 4x IKEA TRADFRI LED bulb GU10 400 lm LED1650R5
- IKEA FLOALT LED light panel L1528
- IKEA TRADFRI remote control E1524
- Innr E27 bulb RB265

Att

[2020-06-04 11:52] mchacher opened #184 "Help to write a converter existing on zigbee-shepherd"
Hi,
I am trying to switch to zigbee-herdman. I use to have the following converter and would like to translate it. Would someone be kind enough to help me?

[code]

[2020-06-04 13:16] MPM1107 commented on #168
I don't really see a need for an alternative development board, since we're not doing any hardware development here. Having access to the zigbee stack would be nice, but the price of that kit is really high and as far as I know we already have members here that have access to it.

[2020-06-04 21:29] mdegat01 commented on #72
Is there a guide for moving from a cc2531 to a Conbee II? I just bought one and wanted to prepare. I know its not fully stable yet but I'm having so many issues with device drops on my cc2531 I need to make a change.  I really want to use it to automate my lights based on presence but the network is already not stable enough for that, its driving us crazy right now.

I assume I have to switch to t

[2020-06-04 22:34] ArkadiuszNiemiec commented on #72
@mdegat01 You have to switch to `deconz` branch. If you are using Docker you can use this as your Dockerfile:

[code]

You have to repair everything but that's all, the Conbee II was automatically detected, there was no need to change anything in configuration. In my experience Conbee worked great with over 40 devices for few hours but it was dropping all connections during the night. I had to res

[2020-06-05 08:48] boesing commented on #72
As multiple people states that the conbee is not stable yet, is there still active development?
I'd rather buy a german stick than one from TI if it works stable with zigbee2mqtt.

I've somehow bricked my CC2531 and with all its random disconnects (mostly after few days, e.g.)  and the fact, that I dont own a CCDebugger myself, I want to move over (after 3 months only...) to another solution.

If

[2020-06-05 09:30] Hedda commented on #168
FYI, @mtx512 posted now in https://github.com/arendst/Tasmota/issues/8583 saying that he also has access to Silicon Labs SDK and EmberZNet Zigbee Stack and has offered his help to Tasmota developers to build compatible Zigbee coordinator firmware image for the EFR32MG21 NCP that is in the Sonoff ZBBridge hardware. Hopefully, he might also willing to publicly share those firmware images.

[2020-06-05 11:23] s-hadinger commented on #168
Thanks to @grobasoz we now have the complete pinout map (cross-posting from Tasmota issue):

The complete EFR32 module pinout and ESP8266 connection is as follows:
- `PB01-TX` + `PB00-RX`, pads `ETX`+`ERX`, connected to `GPIO1+3`
- `PA00`, no pad, connected to `GPIO5`
- `PA01`, pad `SWCLK`, not connected to ESP
- `PA02`, pad `SWDIO`, not connected to ESP
- `PA05`, pad `Z_TX/PA05`, not connected to

[2020-06-05 12:43] Gamester17 commented on #168
ITead (Sonoff) as a company has benefited a lot from alternative firmware from the community in the past and there are today more aware of that fact so would not hurt for you to ask.

Suggest that you sent a mail to "Jerry Shi" <jerry.shi 'at' itead.cc> and "Stan Li" <stan.li 'at' itead.cc> and explain that you are an open-source developer from the Tasmota community that is looking into developing

[2020-06-05 13:08] mchacher commented on #184
I did it by myself and post the result here if this can help others to design their own adapters.
This example can be quite generic to read / write data on a specific endpoint.
The "options.se" is to use a specific manufacturer code.
[code]

[2020-06-05 13:08] #184 closed

[2020-06-05 15:57] mdegat01 commented on #72
Thanks @ArkadiuszNiemiec !  I am using Docker.  Currently had HA supervisor managing everything but I'll just add my own container for this one then and turn off the HA Z2M add-on.

I'll give it a shot.  At least re-pairing everything to a new device will clear out my existing network so if I do have to switch back and can pick and choose which ones are priority and keep the number of devices down

[2020-06-06 07:36] Koenkk commented on #180
The adapter crashed. Try using the source routing firmware which has increased stability: https://github.com/Koenkk/Z-Stack-firmware/tree/master/coordinator/Z-Stack_Home_1.2/bin/source_routing

[2020-06-06 09:39] Hedda commented on #72
@boesing Just read above and you will see that there is active development on this, but not stable yet.

Again read all posts above and you will see that at least one developer employed by dresden elektronik is actively working on this. However, if you want production stability then you should wait.

[2020-06-06 10:43] z9th3 commented on #180
Thanks, just flashed the source routing firmware and will report back with results.

[2020-06-06 12:25] YehorFedorov commented on #180
Thanks @Koenkk! I'll try in few days

[2020-06-07 19:22] pedroke opened #185 "Bug/Feature - securityuse attribute"
Hi all,

Is anybody aware of attribute 'securityuse' in incoming messages?
E.g.:

herdsman:adapter:zStack:znp:AREQ <-- AF - incomingMsg - {"groupid":0,"clusterid":0,"srcaddr":58103,"srcendpoint":8,"dstendpoint":1,"wasbroadcast":0,"linkquality":42,"securityuse":0,"timestamp":13232406,"transseqnumber":0,"len":6,"data":{"type":"Buffer","data":[24,6,1,0,64,134]}}

I found that all of my devices report

[2020-06-09 11:59] ChrisHae commented on #72
I have tested now a few days with the ConBeeII and FW 26580700 and it never disconnects or broke  connection. I can't say why, beacause I had those serial connection problems until now. So I added a little watchdog that restarts serial connection if to many timeouts appear. I couldn't test it though. So feel free to test it.

[2020-06-09 12:02] poblabs commented on #72
@ChrisHae Great news, will try it out. Do you know how I can try this out in Docker?

[2020-06-09 12:05] ChrisHae commented on #72
I think wait until Koenkk pulls this to the newest z2mqtt release.

[2020-06-09 12:16] crixyd commented on #72
Very exciting news to say the least. The DEC devices seem superior to those from TI anecdotally, especially compared against the cheaper TI devices. In pursuit of a clean and refined solution aesthetically and at a hardware level I have now purchased a Raspbee II for the RPi 4 and will report back once I'm able to test things out.

[2020-06-09 12:17] ArkadiuszNiemiec commented on #72
@poblabs you can use this as your Dockerfile:
[code]
It will get you the latest commit running in Docker. I combine it with docker-compose:
[code]

[2020-06-09 12:57] poblabs commented on #72
@ArkadiuszNiemiec That didn't work for me. It gave me a lot of errors like the below:

[code]

I wasn't using docker-compose, I built from the Dockerfile itself - (e.g. `docker build -t pob/zigbee2mqttdev .`)

[2020-06-09 15:53] ArkadiuszNiemiec commented on #72
@poblabs my bad, forgot to build the package. This should work:
[code]

[2020-06-09 16:26] EpicLPer commented on #72
How would you go about doing this on Home Assistant tho?

[2020-06-09 16:43] ArkadiuszNiemiec commented on #72
@EpicLPer you probable can't and have to wait for new release.

[2020-06-09 16:55] kuersche1337 opened #187 "Senic switch support"
Hello,

I'm working with iobroker and try to pair the senic smart switch.

Unfortunately, whenever I press a button I see following in the log:

[code]

It looks like something with the zigbee-herdsman, so I'm opening this issues here.
Or is it missing implementation in iobroker.zigbee?

Best regards and thanks
Alex

[2020-06-09 17:26] Koenkk commented on #187
Can you provide the complete debug logging. It can be achieved by setting the environment variable.

To enable herdsman debug logging, see https://www.zigbee2mqtt.io/information/debug.html#zigbee-herdsman-debug-logging

[2020-06-09 19:08] poblabs commented on #72
@ArkadiuszNiemiec That worked, thanks! Now I'll give it a test for a couple days to see if I experience any serial disconnects

[2020-06-09 19:49] kuersche1337 commented on #187
Thank you for your fast response!

I tried to set the debug logging, but had no success.
As I said, I have an iobroker running with iobroker.zigbee, which is using the zigbee-herdsman. Or so I think.

I had a look at the linked website and tried to run the command
`DEBUG=zigbee-herdsman* npm start`
in one of my folders in iobroker on my raspberry. As it seems, I didn't find the correct folder, cau

[2020-06-10 11:09] MattL0 commented on #72
Can’t wait to try this. As I do not want to purge my deconz install. I’ll need to buy another zigbee stick .

Or maybe it’s time to have fun with the new raspbee 2 card + the rpi4 + zigbee2mqtt